<template></template>
<script lang="ts">

    import {Vue}              from 'vue-property-decorator';
    import {Component}        from 'vue-property-decorator';
    import {AxiosToastsEvent} from '@/kr/co/genie/common/engine/event/AxiosToastsEvent';
    import 'reflect-metadata';
    import {Expose}           from 'class-transformer';
    import {Type}             from 'class-transformer';
    import router             from '@/router';

    @Component
    export default class AxiosToasts extends Vue {

        private created() {
            AxiosToastsEvent.$on('axios-error-toasts', this.onAxiosErrorToasts);
        }

        private beforeDestroy() {
            AxiosToastsEvent.$off('axios-error-toasts');
        }

        private onAxiosErrorToasts(errorRes: any): void {

            const errorCode  = Object.$plugins.mapper.toObject(Response.CodeError,  errorRes.response);
            const errorValid = Object.$plugins.mapper.toObject(Response.ValidError, errorRes.response);

            switch (errorCode.status) {
                case 400 :
                    Object.$plugins.lodash.isEmpty(errorCode.data.code) ? (Object.$plugins.lodash.isEmpty(errorValid.data.errors) ? this.defaultFormType(errorValid) : this.validFormType(errorValid)) : this.codeFormType(errorCode);
                    break;
                case 401 :
                    router.push('/login');
                    localStorage.clear();
                    break;
                case 406 :
                    Object.$plugins.lodash.isEmpty(errorCode.data.code) ? this.defaultFormType(errorCode) : this.codeFormType(errorCode);
                    break;
                case 404 :
                    Object.$plugins.lodash.isEmpty(errorCode.data.code) ? this.defaultFormType(errorCode) : this.codeFormType(errorCode);
                    break;
                case 410 :
                    Object.$plugins.lodash.isEmpty(errorCode.data.code) ? this.defaultFormType(errorCode) : this.codeFormType(errorCode);
                    break;
                case 500 :
                    this.serverFormType(errorCode);
                    break;
                default :
                    this.defaultFormType(errorCode);
                    break;
            }
        }


        private onToast(toast: any) {
            this.$bvToast.toast(toast.contents, {
                title: [toast.title],
                toaster: 'b-toaster-top-center',
                solid: true,
                variant: 'warning',
            });
        }

        private defaultFormType(error) {
            const h = this.$createElement;
            const vNodeUl: any = h('ul', {class: ['text-left', 'mb-0', 'ml-3']},
                [
                    h('li', {}, `요청작업 처리중 오류가 발생 하였습니다.`),
                    h('li', {}, `Error : ${error.data.error}`),
                ],
            );

            // Create the title
            const vNodesTitle = h(
                'div',
                {class: ['d-flex', 'flex-grow-1', 'align-items-baseline', 'mr-2']},
                [
                    h('strong', {class: 'mr-2'}, `Http Status : ${error.status}`),
                    h('small', {class: 'ml-auto text-italics'}, ''),
                ],
            );

            this.onToast({title: vNodesTitle, contents: vNodeUl});
        }


        private serverFormType(error) {

            const h = this.$createElement;
            const vNodeUl: any = h('ul', {class: ['text-left', 'mb-0', 'ml-3']},
                [
                    h('li', {}, `요청작업 처리중 서버의 오류가 발생 하였습니다.`),
                    h('li', {}, `관리자에게 문의해 주세요.`),
                ],
            );

            // Create the title
            const vNodesTitle = h(
                'div',
                {class: ['d-flex', 'flex-grow-1', 'align-items-baseline', 'mr-2']},
                [
                    h('strong', {class: 'mr-2'}, `Http Status : ${error.status}`),
                    h('small', {class: 'ml-auto text-italics'}, ''),
                ],
            );

            console.warn(`Error : ${error.data.message}`);
            this.onToast({title: vNodesTitle, contents: vNodeUl});
        }

        private validFormType(error) {
            const h = this.$createElement;

            const vNodeLi: Array<any> = new Array<any>();
            for (const err of error.data.errors) {
                vNodeLi.push(
                    h('li', {}, [err.defaultMessage]),
                );
            }

            const vNodeUl: any = h('ul', {class: ['text-left', 'mb-0', 'ml-3']},
                [
                    h('li', {}, vNodeLi),
                ],
            );

            // Create the title
            const vNodesTitle = h(
                'div',
                {class: ['d-flex', 'flex-grow-1', 'align-items-baseline', 'mr-2']},
                [
                    h('strong', {class: 'mr-2'}, `Http Status : ${error.status}`),
                    h('small', {class: 'ml-auto text-italics'}, ''),
                ],
            );

            this.onToast({title: vNodesTitle, contents: vNodeUl});
        }

        private codeFormType(error) {

            const h = this.$createElement;
            const vNodeUl: any = h('ul', {class: ['text-left', 'mb-0', 'ml-3']},
                [
                    h('li', {}, `${error.data.code}: ${error.data.message}`),
                ],
            );

            // Create the title
            const vNodesTitle = h(
                'div',
                {class: ['d-flex', 'flex-grow-1', 'align-items-baseline', 'mr-2']},
                [
                    h('strong', {class: 'mr-2'}, `Http Status : ${error.status}`),
                    h('small', {class: 'ml-auto text-italics'}, ''),
                ],
            );

            this.onToast({title: vNodesTitle, contents: vNodeUl});
        }

    }

    export namespace Response {

        export class ValidError {

            @Expose()
            @Type(() => Response.ValidForm)
            public data!: ValidForm;

            @Expose()
            public status!: number;

            @Expose()
            public statusText!: string;
        }


        export class CodeError {

            @Expose()
            @Type(() => Response.CodeForm)
            public data!: CodeForm;

            @Expose()
            public status!: number;

            @Expose()
            public statusText!: string;
        }


        export class CodeForm {

            @Expose()
            public code!: string;

            @Expose()
            public message!: string;
        }

        export class ValidForm {

            @Expose()
            public status!: number;

            @Expose()
            public statusText!: string;

            @Expose()
            public error!: string;

            @Expose()
            @Type(() => Response.ErrorData)
            public errors!: Array<ErrorData>;
        }

        export class ErrorData {

            @Expose()
            public defaultMessage!: string;

            @Expose()
            public field!: string;

            @Expose()
            public rejectedValue!: any;

            @Expose()
            public objectName!: string;
        }

    }


</script>
