<template>
    <div>
        <Editor :options="editorOptions" mode="wysiwyg" v-model="textValue" @input="$emit('input', textValue)"></Editor>
    </div>
</template>
<script lang="ts">
    import {Vue}       from 'vue-property-decorator';
    import {Component} from 'vue-property-decorator';
    import {Prop}      from 'vue-property-decorator';
    import {Watch}     from 'vue-property-decorator';
    import                  'tui-editor/dist/tui-editor.css';
    import                  'tui-editor/dist/tui-editor-contents.css';
    import                  'codemirror/lib/codemirror.css';
    import Editor      from '@toast-ui/vue-editor/src/Editor.vue';

    @Component({
        components: {
            Editor,
        },
    })
    export default class BoardEditor extends Vue {
        @Prop(String)
        private textValueProp!: string;
        private textValue : string = '';

        private editorOptions = {
            minHeight: '200px',
            language: 'ko_KR',
            useCommandShortcut: true,
            useDefaultHTMLSanitizer: true,
            usageStatistics: true,
            hideModeSwitch: true,
            toolbarItems: [
                'heading',
                'bold',
                'italic',
                'strike',
                'divider',
                'hr',
                'quote',
                'divider',
                'ul',
                'ol',
                'task',
                'indent',
                'outdent',
                'divider',
                'table',
                'image',
                'link',
                'divider',
                'code',
                'codeblock',
            ],
        };

        @Watch('textValueProp')
        private setTextValue() : void {
           this.textValue = this.textValueProp;
        }
    }
</script>