<template>
    <span>
    <span
            :id="randomId"
            ref="trigger"
            tabindex="-1"
            @click.capture="interceptEvent"
    >
      <slot></slot>
    </span>
        <b-popover
                :container="container"
                :target="randomId"
                :show.sync="isOpen"
                :placement="placement"
                triggers="blur"
                class="click-confirm"
                ref="popover"
                @hidden="onHidden"
        >
            <template slot="title">
                <div class="popover-title">{{apply.title}}</div>
            </template>
            <div class="text-center">
                <button
                        :class="[apply.yesClass, buttonSizeClass]"
                        @click.prevent="onOk"
                        ref="buttonYes"
                        class="mr-1"
                >
                    <slot name="confirm-yes-icon"><span v-if="apply.yesIcon" :class="apply.yesIcon" aria-hidden="true"></span>
                    </slot>
                    {{ apply.yes }}
                </button>
                <button
                        :class="[apply.noClass, buttonSizeClass]"
                        @click.prevent="onCancel"
                        ref="buttonNo"
                >
                    <slot name="confirm-no-icon"><span v-if="apply.noIcon" :class="apply.noIcon" aria-hidden="true"></span></slot>
                    {{ apply.no }}
                </button>
            </div>
        </b-popover>
    </span>
</template>

<script lang="ts">

    import {Component, Vue, Watch, Prop} from 'vue-property-decorator';

    const messageMap: Map<string, any> = new Map([
        ['ADD',      {title: '등록 하시겠습니까?', yes: '예', no: '아니오', yesClass: 'btn btn-primary btn-sm',   noClass: 'btn btn-secondary btn-sm', yesIcon: 'fa fa-check',       noIcon: 'fa fa-times'}],
        ['MODIFY',   {title: '수정 하시겠습니까?', yes: '예', no: '아니오', yesClass: 'btn btn-success btn-sm',   noClass: 'btn btn-secondary btn-sm', yesIcon: 'fa fa-cog',         noIcon: 'fa fa-times'}],
        ['DELETE',   {title: '삭제 하시겠습니까?', yes: '예', no: '아니오', yesClass: 'btn btn-danger btn-sm',    noClass: 'btn btn-secondary btn-sm', yesIcon: 'fa fa-trash',       noIcon: 'fa fa-times'}],
        ['SAVE',     {title: '저장 하시겠습니까?', yes: '예', no: '아니오', yesClass: 'btn btn-primary btn-sm',   noClass: 'btn btn-secondary btn-sm', yesIcon: 'fa fa-save',        noIcon: 'fa fa-times'}],
        ['CANCEL',   {title: '취소 하시겠습니까?', yes: '예', no: '아니오', yesClass: 'btn btn-warning btn-sm',   noClass: 'btn btn-secondary btn-sm', yesIcon: 'fa fa-stop-circle', noIcon: 'fa fa-times'}],
        ['PUT',      {title: '추가 하시겠습니까?', yes: '예', no: '아니오', yesClass: 'btn btn-success btn-sm',   noClass: 'btn btn-secondary btn-sm', yesIcon: 'fa fa-plus-circle', noIcon: 'fa fa-times'}],
    ]);

    @Component
    export default class ClickConfirm extends Vue {

        @Prop({type: String, default: 'ADD'})
        private type!: string;

        @Prop({type: String, default: null})
        private prefix!: string;

        @Prop({type: Object, default: null})
        private messages!: any;

        @Prop({type: String, default: null})
        private container!: string;

        @Prop({type: Boolean, default: false})
        private disabled!: boolean;

        @Prop({type: String, default: 'top'})
        private placement!: string;

        @Prop({type: [String, Array, Object], default: 'fa fa-check'})
        private yesIcon!: string;

        @Prop({type: [String, Array, Object], default: 'btn blue'})
        private yesClass!: string;

        @Prop({type: [String, Array, Object], default: 'btn gray'})
        private noClass!: string;

        @Prop({type: [String, Array, Object], default: 'fa fa-times'})
        private noIcon!: string;

        @Prop({type: String, default: '', validator(value: string) { return ['lg', '', 'sm'].includes(value); }})
        private buttonSize!: string;

        private isOpen: boolean = false;
        private randomId: string = 'clickConfirm' + Math.random().toString(36).substr(2, 9);
        private target: any = null;
        private allow: boolean = false;

        private apply: any = messageMap.get('ADD');

        get buttonSizeClass() {
            return this.$props.buttonSize ? 'btn-' + this.$props.buttonSize : '';
        }

        private mounted() {

            if(Object.$plugins.lodash.isNull(this.messages)) {
                this.apply = messageMap.get(this.type);
                this.apply.title = Object.$plugins.lodash.isEmpty(this.prefix) ? this.apply.title : `${this.prefix} ${this.apply.title}`;
            } else {
                this.apply = this.messages;
                this.apply.yesIcon = this.yesIcon;
                this.apply.yesClass = this.yesClass;
                this.apply.noClass = this.noClass;
                this.apply.noIcon = this.noIcon;
            }
        }


        @Watch('disabled')
        private onDisabledChanged(newValue: boolean) {
            if (newValue && this.isOpen) {
                this.onCancel();
            }
        }

        private onHidden() {
            this.target = null;
        }

        private onOk() {
            if (this.target !== null) {
                this.allow = true;
                const mouseClick = new MouseEvent('click', {
                    bubbles: true,
                    cancelable: true,
                    composed: true,
                });
                if (!this.target.dispatchEvent(mouseClick)) {
                    console.error('Confirmed event failed to dispatch');
                }
                this.allow = false;
            }
            this.onCancel();
        }

        private onCancel() {
            this.isOpen = false;
        }

        private interceptEvent(e: any) {
            if (this.$props.disabled) {
                return;
            }
            this.target = e.target;
            if (!this.allow) {
                this.isOpen = true;
                // this.setFocusOnButtonYes();
                e.preventDefault();
                e.stopPropagation();
                e.stopImmediatePropagation();
            }
        }

        /*
        private setFocusOnButtonYes() {
            this.$nextTick(() => {
                this.$nextTick(() => {
                    if (this.isOpen) {
                        this.$refs.buttonYes.focus();
                    }
                });
            });
        }
        */

        private beforeDestroy() {
            if (this.isOpen) {
                this.onCancel();
            }
        }
    }
</script>

<style scoped>
    .popover-title {
        font-size: 0.8rem;
        font-weight: bold;
    }
</style>
