<template>
    <b-container fluid>
        <b-row align-h="between" class="form-inline">
            <b-col class="nav-col form-inline">
                <i class="far fa-calendar-alt mr-1 fa-2x"></i>
                <span class="input-fix">
                    <v-date-picker
                            v-model="selectDate"
                            mode="single"
                            :input-props="{readonly: true}"
                            @input="$emit('input', selectDate)"
                    />
                </span>
                <button v-if="today" type="button" @click="onNow" class="btn grayL btnS rounded-0 mr-1 ml-2">오늘</button>
            </b-col>
        </b-row>
    </b-container>
</template>

<script lang="ts">

    import {Component, Vue, Prop} from 'vue-property-decorator';
    import VCalendar              from 'v-calendar-ie11';

    Vue.use(VCalendar, {
        componentPrefix: 'v',
    });

    @Component
    export default class DatepickerSingle extends Vue {

        @Prop({default: new Date()})
        private date!: Date;

        @Prop({type: Boolean, default: false})
        private today;

        private selectDate?: Date | null = null;

        private created() {
            this.selectDate = this.date;
        }

        private onNow() {
            this.selectDate = null;
            this.selectDate = new Date();
        }
    }

</script>

<style scoped>
    .input-fix {
        max-width: 90px !important;
    }
</style>
