<template>
    <b-container fluid>
        <b-row align-h="between" class="form-inline">
            <b-col class="nav-col form-inline">
                <i class="far fa-calendar-alt mr-1 fa-2x"></i>
                <span class="input-fix">
                    <v-date-picker
                            v-model="dateFromTo"
                            mode="range"
                            :max-date="new Date()"
                            :input-props="{readonly: true}"
                            @input="$emit('input', dateFromTo)"
                    />
                </span>
                <button type="button" @click="onClickChangeMonth(1)" class="btn grayL btnS rounded-0 mr-1 ml-2">1개월</button>
                <button type="button" @click="onClickChangeMonth(3)" class="btn grayL btnS rounded-0 mr-1">3개월</button>
                <button type="button" @click="onClickChangeMonth(6)" class="btn grayL btnS rounded-0 mr-1">6개월</button>
                <button type="button" @click="dateFromTo = {start : null, end : null}" class="btn grayL btnS rounded-0 mr-1">전체
                </button>
            </b-col>
        </b-row>
    </b-container>
</template>

<script lang="ts">

    import {Component, Vue, Prop} from 'vue-property-decorator';
    import VCalendar from 'v-calendar-ie11';

    Vue.use(VCalendar, {
        componentPrefix: 'v',
    });

    @Component
    export default class DatepickerFromTo extends Vue {

        private start!: Date;
        private end!: Date;

        @Prop({default: {start: new Date(), end : new Date()}})
        private date!:DateFromTo;


        private dateFromTo: DateFromTo | null = null;

        private created() {
            this.dateFromTo = this.date;
        }

        private onClickChangeMonth(month: number) {
            this.dateFromTo = null;
            this.dateFromTo = {
                start: new Date(new Date().getFullYear(), new Date().getMonth() - month, new Date().getDate()),
                end: new Date(),
            };
        }
    }

    class DateFromTo {
        public start!:Date;
        public end!:Date;
    }
</script>

<style scoped>
    .input-fix {
        max-width: 170px !important;
        min-width: 160px !important;
    }
</style>
