<template>
    <div class="lined-textarea">
        <div class="lined-textarea__lines"
             v-if="!disabled"
             :style="{ 'padding-right': longestWidth + 'px'}"
        >
            <div class="lined-textarea__lines__inner"
                 ref="lines"
            >
                <p v-for="(line, index) in lines"
                   :key="index"
                   class="lined-textarea__lines__line"
                   v-html="line"
                ></p>
            </div>
        </div>
        <textarea :disabled="disabled"
                  :placeholder="placeholder"
                  class="lined-textarea__content lined-textarea__content--wrap"
                  v-model="content"
                  :rows="lines.length"
                  :style="styles"
                  v-on:scroll="scrollLines"
                  v-on:input="onInput"
                  v-on:mousedown="detectResize"
                  ref="textarea"
        ></textarea>
        <div class="count-helper" ref="helper"></div>
    </div>
</template>

<script lang="ts">
    import {Vue}           from 'vue-property-decorator';
    import {Watch}         from 'vue-property-decorator';
    import {Component}     from 'vue-property-decorator';
    import {Prop}          from 'vue-property-decorator';

    @Component
    export default  class LinedTextarea extends Vue {

        @Prop({type : Boolean, default : false})
        public disabled !: boolean;

        @Prop({type : Boolean, default : true})
        public nowrap !: boolean;

        @Prop({type : String, default : ''})
        public placeholder !: string;

        @Prop({type : String, default : ''})
        public value !: string;

        @Prop({type : Object})
        public styles !: string;

        public content !: string;
        public widthPerChar : number = 8;
        public numPerLine : number = 1;
        public previousWidth : number = 0;
        public scrolledLength : number = 0;

        public created() {
            this.content = this.value;
        }

        public mounted() {
            this.syncScroll();
            this.calculateCharactersPerLine();
        }

        get lines() {
            this.content = this.value;
            if (this.content === '') {
                return [1];
            }

            const lineNumbers : Array<any> = new Array<any>();
            let num = 1;
            // Number of lines extended. Seems to work with pre-wrap (has problem with dash)
            function getWrapTimes(sentence, width) {
                if (width <= 0) {
                    // Protect against infinite loop
                    return sentence.length + 1; // Seems browser would add one additional space
                }
                const words = sentence.split(' ');
                let currentLine = 1;
                let spaceLeft = width;
                words.forEach((word) => {
                    while (spaceLeft === width && word.length >= spaceLeft) {
                        currentLine++;
                        word = word.slice(width);
                    }
                    if (spaceLeft === width) {
                        spaceLeft -= word.length;
                        return;
                    }
                    if (word.length + 1 > spaceLeft) {
                        currentLine++;
                        spaceLeft = width;
                    }
                    spaceLeft -= spaceLeft === width ? word.length : word.length + 1;
                });
                return spaceLeft === width ? currentLine - 1 : currentLine;
            }

            this.content.split('\n').forEach((line) => {
                const wrapTimes = getWrapTimes(line, this.numPerLine) - 1;
                lineNumbers.push(num);
                for(let i = 0; i < wrapTimes; i++) {
                    lineNumbers.push('&nbsp;');
                }
                num++;
            });
            return lineNumbers;
        }

        get longestWidth() {
            for (let i = this.lines.length - 1; i >= 0; i--) {
                if (this.lines[i] === '&nbsp;') {
                    continue;
                }
                return (this.lines[i] + '').length * this.widthPerChar + 10; // 10px base padding-right
            }
        }

        public calculateCharactersPerLine() {
            if (this.nowrap) {
                this.numPerLine = Number.MAX_SAFE_INTEGER;
                return;
            }
            const textarea : any = this.$refs.textarea;
            const styles = getComputedStyle(textarea);
            const paddingLeft = parseFloat(styles.getPropertyValue('padding-left'));
            const paddingRight = parseFloat(styles.getPropertyValue('padding-right'));
            const fontSize = styles.getPropertyValue('font-size');
            const fontFamily = styles.getPropertyValue('font-family');
            const width = textarea.clientWidth - 100 - 100;
            const helper = this.$refs.helper as HTMLStyleElement;

            helper.style.fontSize = fontSize;
            helper.style.fontFamily = fontFamily;
            helper.innerHTML = '';
            for (let num = 1; num < 999; num++) {
                helper.innerHTML += 'a';
                if (helper.getBoundingClientRect().width > width) {
                    this.numPerLine = num - 1;
                    break;
                }
            }
        }

        public detectResize() {
            const textarea = this.$refs.textarea as HTMLTextAreaElement;
            const { clientWidth: w1, clientHeight: h1 } = textarea;
            const detect = () => {
                const { clientWidth: w2, clientHeight: h2 } = textarea;
                if (w1 !== w2 || h1 !== h2) {
                    this.calculateCharactersPerLine();
                }
            };

            const stop = () => {
                this.calculateCharactersPerLine();
                document.removeEventListener('mousemove', detect);
                document.removeEventListener('mouseup', stop);
            };
            document.addEventListener('mousemove', detect);
            document.addEventListener('mouseup', stop);
        }

        public onInput() {
            this.$emit('input', this.content);
            this.recalculate();
        }

        public recalculate() {
            const textarea = this.$refs.textarea as HTMLTextAreaElement;
            const width = textarea.clientWidth;
            if (width !== this.previousWidth) {
                this.calculateCharactersPerLine();
            }
            this.previousWidth = width;
        }

        public scrollLines(e) {
            this.scrolledLength = e.target.scrollTop;
            this.syncScroll();
        }

        public syncScroll() {
            const lines = this.$refs.lines as HTMLStyleElement;
            lines.style.transform = `translateY(${-this.scrolledLength}px)`;
        }

        @Watch('longestWidth')
        public setLongestWidth(val, oldVal) {
            if (val !== oldVal) {
                this.$nextTick(() => this.calculateCharactersPerLine());
            }
        }

        @Watch('nowrap')
        public setNowrap() {
            this.calculateCharactersPerLine();
        }

        @Watch('value')
        public setValue(val) {
            if (val !== this.content) {
                this.content = val;
            }
        }
    }
</script>

<style scoped>
.lined-textarea {
    display: flex;
    font-size: 13px;
    line-height: 150%;
    font-family: Helvetica, monospace;
}

.lined-textarea__lines {
    background-color: #F0F0F0;
    border: 1px solid #D7E2ED;
    border-right-width: 0;
    padding: 15px 10px 15px 15px;
    overflow: hidden;
    position: relative;
}

.lined-textarea__lines p {
    margin-bottom: 0px;
}
.lined-textarea__lines__inner {
    position: absolute;
}

.lined-textarea__lines__line {
    text-align: right;
}


.lined-textarea__content {
    border: 1px solid #D7E2ED;
    border-radius: 0 10px 10px 0;
    border-left-width: 0;
    margin: 0;
    line-height: inherit;
    font-family: monospace;
    padding: 15px 10px 15px 15px;
    width: 100%;
    overflow: auto;
}

.lined-textarea__content--wrap {
    white-space: pre-wrap;
}

.lined-textarea__content--nowrap {
    white-space: pre;
}

@supports (-ms-ime-align:auto) {
    .lined-textarea__content--nowrap {
        white-space: nowrap;
    }
}

.lined-textarea__content--disabled {
    border-radius: 10px;
    border-left-width: 1px;
}


.lined-textarea__content:focus {
    outline: none;
}

.count-helper {
    position: absolute;
    visibility: hidden;
    height: auto;
    width: auto;
}
</style>