<template></template>
<script lang="ts">

    import {Vue}                from 'vue-property-decorator';
    import {Component}          from 'vue-property-decorator';
    import {MessageToastsEvent} from '@/kr/co/genie/common/engine/event/MessageToastsEvent.ts';
    import {Message}            from '@/kr/co/genie/common/engine/event/MessageToastsEvent.ts';

    @Component
    export default class MessageToasts extends Vue {

        public created() {
            MessageToastsEvent.$on('message-toasts', this.onMessageToasts);
        }

        public beforeDestroy() {
            MessageToastsEvent.$off('message-toasts');
        }

        public onMessageToasts(message: Message): void {

            const h = this.$createElement;
            // Create the title
            const vNodesTitle = h(
                'div',
                {class: ['d-flex', 'flex-grow-1', 'align-items-baseline', 'mr-2']},
                [
                    h('strong', {class: 'mr-2'}, message.title),
                    h('small', {class: 'ml-auto text-italics'}, ''),
                ],
            );
            // Pass the VNodes as an array for message and title
            this.$bvToast.toast(message.contents, {
                title: [vNodesTitle],
                toaster: 'b-toaster-top-center',
                solid: true,
                variant: message.variant,
            });
        }
    }
</script>
