<template>
    <b-row>
        <b-col>
            <vue2Dropzone ref="dropzone"
                        id="dropzone"
                        :include-styling="false"
                        :options="dropzoneOptions"
                        :useCustomSlot=true
                        @vdropzone-total-upload-progress="uploadProgress"
                        @vdropzone-duplicate-file="duplicateFileCheck"
                        @vdropzone-success-multiple="successMultiple"
                        @vdropzone-success="success"
                        @vdropzone-error="error"
                        @vdropzone-error-multiple="errorMultiple"
                        @vdropzone-sending-multiple="sendMultiple"
                        @vdropzone-removed-file="fileRemove"
            >
                <b-button squared class="purple mr-1">첨부파일</b-button>
            </vue2Dropzone>
            <b-progress :max="max" class="mt-2" v-show="this.progressBarFlag">
                <b-progress-bar :value="this.totalProgress" :label="`${((this.totalProgress / max) * 100).toFixed(2)}%`"></b-progress-bar>
            </b-progress>
        </b-col>
    </b-row>
</template>
<script lang="ts">
    /*
    import {Component, Vue, Prop} from 'vue-property-decorator';
    import vue2Dropzone           from 'vue2-dropzone';
    import                             'vue2-dropzone/dist/vue2Dropzone.min.css';
    import {BoardStore}           from '@/kr/co/genie/cms/board/store/BoardStore';

    @Component({
        components: {
            vue2Dropzone,
        },
    })
    export default class MultiFileUpload extends Vue {
        private store  = BoardStore.getInstance();
        private accessToken = localStorage.getItem('access_token');
        private headers : object = {
            authorization : 'bearer '+this.accessToken
        };

        private dropzoneOptions: object = {
            method: 'post',
            maxFilesize: 100,
            maxFiles: 2,
            headers: this.headers,
            previewTemplate: this.template(),
            filesizeBase: 1024,
            dictFileTooBig: '첨부 파일 허용 크기를 초과 하였습니다.\n확인하세요.',
            dictMaxFilesExceeded: '첨부 파일 허용 갯수를 초과 하였습니다.\n확인하세요.',
        };

        @Prop(Object)
        private dropzoneOptionsProp!: object;
        private max: number = 100;
        private totalProgress: number = 0;
        private progressBarFlag = false;

        public created() {
            this.dropzoneOptions = Object.assign(this.dropzoneOptions, this.dropzoneOptionsProp);
        }

        public mounted() {
            this.$emit('getDropzoneInstance', this.$refs.dropzone);
        }

        public template() {
           return `<div class="dz-preview dz-file-preview">
                        <b-row class="dz-details">
                            <b-col class="dz-filename mr-2"><span data-dz-name></span></b-col>
                            <b-col class="dz-size mr-2"><span data-dz-size></span></b-col>
                            <b-col><button class="delete dz-remove" href="javascript:undefined;" data-dz-remove=""><span aria-hidden="true">&times;</span></button></b-col>
                        </b-row>
                        <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
                    </div>`;
        }

        public duplicateFileCheck(file) {
            // console.log(file);
        }

        public uploadProgress(totaluploadprogress, totalBytes, totalBytesSent) {
            if (totalBytes !== 0 && totalBytesSent !== 0) {
                this.progressBarFlag = true;
            }
            this.totalProgress = totaluploadprogress;
        }

        public successMultiple(files, response) {
            // this.$emit('succesComplate', response);
        }

        public success(files, response) {
            this.$emit('succesComplate', response);
        }

        public error(file, message, xhr) {
            Object.$plugins.event.onMessageCustom('warning', '파일 등록 에러', message);
            file.previewElement.remove();
            return;
        }

        public errorMultiple(files, message, xhr) {
            // Object.$plugins.event.onMessageCustom('warning', '파일 등록 에러', message);
            // files[0].previewElement.remove();
            // return;
        }

        public sendMultiple(files, xhr, formData) {
            formData.append('paramName', 'some value or other');
        }

        public fileRemove(file, response, xhr) {
            if(!Object.$plugins.lodash.isEmpty(file.uuid)) {
                this.store.actions.fileRemove(file.uuid);
                file.previewElement.remove();
            }
        }
    }
     */
</script>
<style>
.delete {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 4px;
    color: red;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}
.totalProgress {
    background-color: red;
}
.the-progress-text {
    float: right;
}
</style>
