<template>
    <b-pagination v-show="show"
                  v-model="currentPage"
                  :total-rows="page.totalElements"
                  :per-page="page.size"
                  align="center"
                  class="mt-2"
                  @input="onInputEvent"
    >
    </b-pagination>
</template>

<script lang="ts">

    import {Vue}             from 'vue-property-decorator';
    import {Watch}           from 'vue-property-decorator';
    import {Component, Prop} from 'vue-property-decorator';
    import {Common}          from '@/kr/co/genie/common/engine/model/Common';

    @Component
    export default class PageNavigation extends Vue {

        @Prop({default: 0})
        private pageNumber!: number;

        @Prop({default: new Common.Response.Page})
        private page!: Common.Response.Page;
        private currentPage: number = 1;

        private show: boolean = false;

        private onInputEvent() {
            this.$emit('input', this.currentPage - 1);
        }

        private created() {
            this.show = this.page.number !== undefined ? true : this.show;
        }

        @Watch('page')
        private setPage(): void {
            setTimeout(() => {
                this.currentPage = this.page.number + 1;
                this.show = true;
            }, 100);
        }
    }

</script>
