<template>
    <span>
        {{pageNumber}}
    </span>
</template>

<script lang="ts">

    import {Vue}       from 'vue-property-decorator';
    import {Component} from 'vue-property-decorator';
    import {Prop}      from 'vue-property-decorator';
    import {Common}    from '@/kr/co/genie/common/engine/model/Common';

    @Component
    export default class PageNumber extends Vue {
        @Prop({default: new Common.Response.Page})
        private page!: Common.Response.Page;

        @Prop(Number)
        private index!: number;

        get pageNumber() {
            return this.page.totalElements - ((this.page.number) * this.page.size + this.index);
        }
    }
</script>
