<template>
    <b-select size="sm" v-model="selectValue" :options="getOptions" @input="onInputEvent"></b-select>
</template>


<script lang="ts">

    import {Vue}             from 'vue-property-decorator';
    import {Component, Prop} from 'vue-property-decorator';

    @Component
    export default class PageOption extends Vue {

        @Prop({default: 10})
        private value!: number;

        @Prop({default: null})
        private defaultValue!: number | null;
        private selectValue: number = 10;

        private get getOptions() {
            return new Array<PageItem>(
                new PageItem('10개씩보기', 10),
                new PageItem('20개씩보기', 20),
                new PageItem('30개씩보기', 30),
                new PageItem('40개씩보기', 40),
                new PageItem('50개씩보기', 50),
            );
        }

        private mounted() {
            this.selectValue = this.defaultValue === null ? this.value : this.defaultValue;
            this.onInputEvent();
        }

        private onInputEvent() {
            this.$emit('input', this.selectValue);
        }
    }


    class PageItem {

        public text!: string;
        public value!: number;

        constructor(text: string, value: number) {
            this.text = text;
            this.value = value;
        }
    }


</script>
