<template>
    <b-select size="sm"
              v-model="selectValue"
              :disabled="disabled"
              :options="optionsValue"
              @input="$emit('input', selectValue === null ? undefined : selectValue)"
    ></b-select>
</template>

<script lang="ts">

    import {Vue}             from 'vue-property-decorator';
    import {Watch}           from 'vue-property-decorator';
    import {Component, Prop} from 'vue-property-decorator';

    @Component
    export default class Select extends Vue {

        @Prop({default: null})
        private value!: any;
        private selectValue: any = null;

        @Prop({default: null})
        private options!: any | null;
        private optionsValue: any = Array<object>();

        @Prop({default: false})
        private disabled!: boolean;

        @Prop({default: false})
        private useAll!:boolean;

        private key : string = 'value';

        @Watch('value')
        private setValue(newValue: any, oldValue: any): void {

            if (!Object.$plugins.lodash.isNull(this.value) && !Object.$plugins.lodash.isEmpty(this.options)) {
                const first: any = Object.$plugins.lodash.head(this.options);
                const matched: any = Object.$plugins.lodash.find(this.options, (item: any) => {
                    return item[this.key] === this.value;
                });
                this.selectValue = !Object.$plugins.lodash.isEmpty(matched) ? matched[this.key] : (this.useAll ? null : first[this.key]);
            }

            this.$emit('input', this.selectValue === null ? undefined : this.selectValue);
        }

        @Watch('options')
        private setOptions(newValue: any, oldValue: any): void {

            if (!Object.$plugins.lodash.isEmpty(this.options)) {

                this.optionsValue = this.useAll ?  [{text:'전체', value:null}, ...this.options] : {...this.options};
                if (Object.$plugins.lodash.isNull(this.value)) {
                    const first: any = Object.$plugins.lodash.head(this.options);
                    this.selectValue = this.useAll ? null : first[this.key];
                } else {
                    const first: any = Object.$plugins.lodash.head(this.options);
                    const matched: any = Object.$plugins.lodash.find(this.optionsValue, (item: any) => {
                        return item[this.key] === this.value;
                    });
                    this.selectValue = !Object.$plugins.lodash.isEmpty(matched) ? matched[this.key] : (this.useAll ? null : first[this.key]);
                }
            } else {
                this.optionsValue = this.useAll ? [{text:'전체', value:null}] : [];
                this.$emit('input', undefined);
            }
        }

        private mounted() {
            if (!Object.$plugins.lodash.isEmpty(this.options)) {
                this.optionsValue = this.useAll ?  [{text:'전체', value:null}, ...this.options] : {...this.options};
                const first: any = Object.$plugins.lodash.head(this.options);
                this.selectValue = Object.$plugins.lodash.isEmpty(this.value) ? first[this.key] : this.value;
                this.selectValue = this.useAll ? null : this.selectValue;
            }
            if (!Object.$plugins.lodash.isNull(this.value)) {
                this.selectValue = this.value;
            }
        }
    }
</script>
