<template>
    <div class="vld-parent">
        <loading-spinner :active.sync="spinnerAxiosVisible"
                 :can-cancel=false
                 :width="width"
                 :height="height"
                 :color="color"
                 :loader="loader"
                 :z-index="zIndex"
                 :is-full-page="fullPage"></loading-spinner>
    </div>
</template>

<script lang="ts">
    import Loading          from 'vue-loading-overlay';
    import                       'vue-loading-overlay/dist/vue-loading.css';
    import {Component, Vue} from 'vue-property-decorator';
    import {SpinnerEvent}   from '@/kr/co/genie/common/engine/event/SpinnerEvent';


    @Component({
        components : {
            'loading-spinner' : Loading
        }
    })
    export default class Spinner extends Vue {

        public spinnerAxiosVisible: boolean = false;
        public fullPage           : boolean = true;
        public color : string = 'blue';
        public loader : string = 'bars';
        public width : number = 377;
        public height : number = 50;
        public zIndex : number = 3000;

        public created() {
            SpinnerEvent.$on('on-spinner-axios', this.onSpinnerAxios);
        }

        public beforeDestroy() {
            SpinnerEvent.$on('on-spinner-axios', this.onSpinnerAxios);
        }

        public onSpinnerAxios(useYn: boolean): void {
            this.spinnerAxiosVisible = useYn;
        }
    }
</script>
