<template>
    <b-container class="col-pad-zero">
    <b-row>
        <b-col>
            <span :id="`tooltip-target-${index}`">
                {{account.name}}<br  v-if="linebreak"/>({{account.identifier}})
            </span>
            <b-tooltip :target="`tooltip-target-${index}`" triggers="hover">
                <a @click="openAddModal(account.id)" class="text-white" style="cursor: pointer">쪽지보내기</a><br/>
                <a @click="openAddMailModal(account.id)" class="text-white">메일보내기</a>
            </b-tooltip>
        </b-col>
    </b-row>
    <b-row>
        <b-col>
            <component :receiverId="receiverId" :is="modal" v-model="modal"></component>
        </b-col>
    </b-row>
    </b-container>
</template>

<script lang="ts">

    import {Vue}        from 'vue-property-decorator';
    import {Component}  from 'vue-property-decorator';
    import {Prop}       from 'vue-property-decorator';
    // import {Account}    from '@/kr/co/genie/corpus/system/account/model/Account';
    import NoteAddModal from '@/kr/co/genie/corpus/mypage/components/NoteAddModal.vue';
    import MailAddModal from '@/kr/co/genie/corpus/mypage/components/MailAddModal.vue';

    @Component({
        components : {
            NoteAddModal,
            MailAddModal
        }
    })
    export default class UserInfo extends Vue {
        // @Prop({default: new Account.Response.FindOne})
        // private account!: Account.Response.FindOne;
        @Prop({default: Number})
        private index!: number;
        @Prop({default: Boolean})
        private linebreak!: boolean;

        private modal : any = null;
        private receiverId: number = -1;

        private async openAddModal(id) {
            this.receiverId = id;
            this.modal = await NoteAddModal;
        }

        private async openAddMailModal(id) {
            this.receiverId = id;
            this.modal = await MailAddModal;
        }

    }
</script>
