<template>

</template>
<script lang="ts">

    import {Vue}                 from 'vue-property-decorator';
    import {Component}           from 'vue-property-decorator';
    import {ValidateToastsEvent} from '@/kr/co/genie/common/engine/event/ValidateToastsEvent.ts';
    import {ValidationError}     from 'class-validator';
    import jp                    from 'jsonpath';

    @Component
    export default class ValidateToasts extends Vue {

        private validMsgMap: Map<string, string> = new Map([
            ['isString', '자료형이 문자 형태여야 합니다.'],
            ['isInt', '자료형이 정수 형태여야 합니다.'],
            ['isNotEmpty', '필수 정보 입니다.'],
            ['isArray', '자료형이 배열 형태여야 합니다.'],
            ['arrayNotEmpty', '배열에 데이터가 누락 되었습니다.'],
            ['maxLength', '최대 입력 범위를 초과 하였습니다.'],
            ['isEmail', '이메일 정보를 올바르게 입력해 주세요.'],
        ]);

        private created() {
            ValidateToastsEvent.$on('validate-toasts', this.runToasts);
        }

        private beforeDestroy() {
            ValidateToastsEvent.$off('validate-toasts');
        }

        private description(err : any) {

            if(!Object.$plugins.lodash.isEmpty(err.constraints)) {
                err.constraints.$description = err.target.$description.get(err.property);
            }
            if(!Object.$plugins.lodash.isEmpty(err.children)) {

                err.children.forEach((e: any) => {
                    this.description(e);
                });
            }
        }


        private runToasts(errors: Array<ValidationError>): void {

            errors.forEach((err: any) => {
                this.description(err);
            });

            const constraintsPath: any = jp.query(errors, '$..constraints');

            const h = this.$createElement;

            const vNodeArr: Array<any> = new Array<any>();

            for (const valid of constraintsPath) {

                const vNodeLi: Array<any> = new Array<any>();

                for (const [key, value] of Object.entries(valid)) {

                    if (key !== '$description') {
                        vNodeLi.push(
                            h('li', {}, [`${Object.$plugins.lodash.isEmpty(valid.$description) ? '' : valid.$description} : ${this.validMsgMap.get(key)}`]),
                            // h('li', {}, [h('dl', {}, [h('dt', {}, [`${valid.$description}`]), h('dd', {}, [`${this.toValid(key)}`])])]),
                            // h('li', {class: 'mb-0'}, [h('dl', {}, [h('dt', {}, [`${valid.$description} : ${this.toValid(key)}`])])]),
                        );
                    }
                }

                vNodeArr.push(
                    h('ul', {class: ['text-left', 'mb-0', 'ml-3']},
                        [
                            h('li', {}, vNodeLi),
                        ],
                    ),
                );
            }

            // Create the title
            const vNodesTitle = h(
                'div',
                {class: ['d-flex', 'flex-grow-1', 'align-items-baseline', 'mr-2']},
                [
                    h('strong', {class: 'mr-2'}, '오류 메시지'),
                    h('small', {class: 'ml-auto text-italics'}, ''),
                ],
            );
            // Pass the VNodes as an array for message and title
            this.$bvToast.toast(vNodeArr, {
                title: [vNodesTitle],
                toaster: 'b-toaster-top-center',
                solid: true,
                variant: 'warning',
            });
        }
    }

</script>
