<template>
    <div>프레임 목록</div>
</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';

    @Component
    export default class FrameList extends Vue {

    }
</script>
