<template>
    <b-container fluid>
        <b-row class="title-box">
            <b-col class="title">프로그램</b-col>
            <b-col class="title-nav">방송 플랫폼 > 프로그램</b-col>
        </b-row>

        <b-container class="view-box" fluid>
            <b-row>
                <b-col class="title">
                    프로그램 기본 정보
                </b-col>
            </b-row>
            <b-row>
                <b-col cols="2">
                    <label>프로그램아이디</label>
                </b-col>
                <b-col>
                    100
                </b-col>
            </b-row>
            <b-row>
                <b-col cols="2">
                    <label>프로그램명</label>
                </b-col>
                <b-col>
                    쇼미더머니1
                </b-col>
            </b-row>
            <b-row>
                <b-col cols="2">
                    <label>URL</label>
                </b-col>
                <b-col>
                    showme1
                </b-col>
            </b-row>
            <b-row>
                <b-col cols="2">
                    <label>노출여부</label>
                </b-col>
                <b-col>
                    예
                </b-col>
            </b-row>
        </b-container>

        <b-row>
            <b-col class="text-center">
                <b-button variant="primary" to="/program/modify" class="mr-3">수정</b-button>
                <b-button variant="danger" to="/program/list" class="mr-3">삭제</b-button>
                <b-button variant="secondary" to="/program/list">취소</b-button>
            </b-col>
        </b-row>

    </b-container>
</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';

    @Component
    export default class ProgramList extends Vue {

    }
</script>
