<template>
    <b-container fluid>
        <b-row class="title-box">
            <b-col class="title">프로그램</b-col>
            <b-col class="title-nav">방송 플랫폼 > 프로그램</b-col>
        </b-row>

        <b-container class="edit-box" fluid>
            <b-row>
                <b-col class="title">
                    프로그램 기본 정보
                </b-col>
            </b-row>
            <b-row>
                <b-col>
                    <label>프로그램아이디</label>
                    <b-input value="100" class="w-50 mr-1"></b-input>
                    <b-button size="sm" variant="info" @click="opeSearchModal">찾기</b-button>
                </b-col>
            </b-row>
            <b-row>
                <b-col>
                    <label>프로그램명</label>
                    <b-input value="쇼미더머니1"></b-input>
                </b-col>
            </b-row>
            <b-row>
                <b-col>
                    <label>URL</label>
                    <b-input value="showme1"></b-input>
                </b-col>
            </b-row>
            <b-row>
                <b-col>
                    <label>노출여부</label>
                    <b-select>
                        <option>예</option>
                        <option>아니오</option>
                    </b-select>
                </b-col>
            </b-row>
            <b-row>
                <b-col cols="3">
                    <label>노출여부</label>
                    <b-select>
                        <option>예</option>
                        <option>아니오</option>
                    </b-select>
                </b-col>
            </b-row>
        </b-container>

        <b-row>
            <b-col class="text-center">
                <b-button variant="primary" to="/program/list" class="mr-3">등록</b-button>
                <b-button variant="secondary" to="/program/list">취소</b-button>
            </b-col>
        </b-row>

        <b-row>
            <b-col>
                <component :is="modal" v-model="modal"></component>
            </b-col>
        </b-row>
    </b-container>
</template>

<script lang="ts">
    import {Component, Vue}   from 'vue-property-decorator';
    import ProgramSearchModal from '@/kr/co/genie/public/program/components/ProgramSearchModal.vue';


    @Component
    export default class ProgramList extends Vue {

        private modal: any = null;

        private async opeSearchModal() {
            this.modal = await ProgramSearchModal;
        }
    }
</script>
