<template>
    <b-container fluid>
        <b-row class="title-box">
            <b-col class="title">프로그램</b-col>
            <b-col class="title-nav">방송 플랫폼 > 프로그램</b-col>
        </b-row>

        <b-container fluid class="search-box">
            <b-row>
                <b-col cols="2">
                    <label>프로그램아이디</label>
                    <b-input placeholder="검색어를 입력하세요"></b-input>
                </b-col>

                <b-col cols="2">
                    <label>프로그램아이디</label>
                    <b-input placeholder="검색어를 입력하세요"></b-input>
                </b-col>

                <b-col class="text-right">
                    <b-button variant="info">검색</b-button>
                </b-col>
            </b-row>
        </b-container>

        <b-row>
            <b-col class="text-right">
                <b-button variant="primary" to="/program/add">등록</b-button>
            </b-col>
        </b-row>

        <b-row class="list-table">
            <table>
                <colgroup>
                    <col width="8%"/>
                    <col width="10%"/>
                    <col/>
                    <col width="15%"/>
                    <col width="10%"/>
                    <col width="10%"/>
                    <col width="15%"/>
                </colgroup>
                <thead>
                <tr>
                    <th>번호</th>
                    <th>프로그램아이디</th>
                    <th>프로그램명</th>
                    <th>URL</th>
                    <th>노출여부</th>
                    <th>등록자</th>
                    <th>등록일시</th>
                </tr>
                </thead>
                <tbody>
                <router-link to="/program/view" tag="tr">
                    <td>5</td>
                    <td>100</td>
                    <td>쇼미더머니5</td>
                    <td>showme5</td>
                    <td>예</td>
                    <td>홍길동</td>
                    <td>2020.01.21 15:24:07</td>
                </router-link>
                <tr>
                    <td>5</td>
                    <td>100</td>
                    <td>쇼미더머니5</td>
                    <td>showme5</td>
                    <td>예</td>
                    <td>홍길동</td>
                    <td>2020.01.21 15:24:07</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>100</td>
                    <td>쇼미더머니5</td>
                    <td>showme5</td>
                    <td>예</td>
                    <td>홍길동</td>
                    <td>2020.01.21 15:24:07</td>
                </tr>
                </tbody>
            </table>
        </b-row>

        <b-row>
            <b-col>
                <b-pagination align="center"></b-pagination>
            </b-col>
        </b-row>

    </b-container>
</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';

    @Component
    export default class ProgramList extends Vue {

    }
</script>
