<template>
    <div>
        <form id="myForm" v-on:submit.prevent="onSubmit">
            <table class="table table-striped" style="width: 1000px;">
                <thead class="thead-dark">
                <tr>
                    <th scope="col" width="200px;">Image1</th>
                    <th scope="col" width="200px;">Image2</th>
                    <th scope="col">URL</th>
                </tr>
                </thead>
                <draggable v-model="list" tag="tbody">
                    <tr v-for="(item, index) in list">
                        <td scope="row">
                            <div v-on:click="imageClick('file1', index)"
                                 @drop.prevent="onChange('file1', 'file1Url', 'file1Name', index, $event, 'drop')"
                                 @dragover.prevent
                                 style="outline: black solid 2px;">
                                <img :src="item.file1Url"
                                     v-if="!!item.file1Url"
                                     style="width: 200px; height: 200px;"/>
                                <img src="@/assets/camera-1085705.png"
                                     v-if="!item.file1Url"
                                     style="width: 200px; height: 200px;"/>
                            </div>
                            <input id="file1"
                                   type="file"
                                   name="file1"
                                   ref="file1"
                                   v-on:change="onChange('file1', 'file1Url', 'file1Name', index, $event, 'click')"
                                   accept="image/*"
                                   hidden/>
                        </td>
                        <td>
                            <div v-on:click="imageClick('file2', index)"
                                 @drop.prevent="onChange('file2', 'file2Url', 'file2Name', index, $event, 'drop')"
                                 @dragover.prevent
                                 style="outline: black solid 2px;">
                                <img :src="item.file2Url"
                                     v-if="!!item.file2Url"
                                     style="width: 200px; height: 200px;"/>
                                <img src="@/assets/camera-1085705.png"
                                     v-if="!item.file2Url"
                                     style="width: 200px; height: 200px;"/>
                            </div>
                            <input id="file2"
                                   type="file"
                                   name="file2"
                                   ref="file2"
                                   v-on:change="onChange('file2', 'file2Url', 'file2Name', index, $event, 'click')"
                                   accept="image/*"
                                   hidden/>
                        </td>
                        <td>
                            <p>file1: {{item.file1Name}}</p>
                            <p>file2: {{item.file2Name}}</p>
                        </td>
                    </tr>
                </draggable>
            </table>
            <b-button type="submit">Submit</b-button>
        </form>
        <b-button v-on:click="modelCheck">Check</b-button>
        <b-button v-on:click="pushData">PUSH</b-button>
    </div>
</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';

    import draggable from 'vuedraggable';

    @Component({
        components: {
            draggable
        }
    })
    export default class DraggableListFileComponent extends Vue {
        list = [
            {file1: null, file2: null, file1Url: null, file2Url: null, file1Name: '', file2Name: ''}
        ];

        pushData() {
            this.list.push({file1: null, file2: null, file1Url: null, file2Url: null, file1Name: '', file2Name: ''});
        }

        modelCheck() {
            console.log(this.list);
        }

        onSubmit(event) {
            console.log(event);
            console.log(this.$refs);
        }

        imageClick(file, index) {
            this.$refs[file][index].click();
        }

        onChange(file, url, name, index, event, action) {
            let files;
            if (action === 'click') {
                files = event.target.files[0];
            } else if (action === 'drop') {
                files = event.dataTransfer.files[0];
            }

            if (!!files && /^image\//.test(files.type)) {
                const reader = new FileReader();
                reader.readAsDataURL(files);
                this.list[index][file] = files;

                this.list[index][name] = files.name;
                reader.onload = () => {
                    this.list[index][url] = reader.result;
                };
            }

        }
    }
</script>
