<template>
    <div>
        <draggable v-bind="dragOptions"
                   tag="div"
                   class="item-container"
                   :list="elements"
                   @input="emitter">
            <div class="item-group" :key="el.id" v-for="el in elements">
                <div class="item">{{ el.name }}</div>
                <draggable-items class="item-sub" :elements="el.elements"/>
            </div>
        </draggable>
    </div>

</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';
    import draggable from 'vuedraggable';
    import DraggableItems from '@/kr/co/genie/public/draggable/view/Draggable.vue';

    @Component({
        name: 'draggable-items',
        components: {
            draggable,
            'draggable-items': DraggableItems
        },
        props: {
            elements: {
                required: false,
                type: Array,
                default: null
            }
        }
    })
    export default class DraggableItemComponent extends Vue {
        dragOptions = {
            animation: 1,
            group: 'people',
            disabled: false,
            ghostClass: 'ghost'
        };

        emitter(value) {
            this.$emit('input', value);
        }

        get realValue() {
            console.log('value', this.$props.value);
            console.log('list', this.$props.list);
            return this.$props.value ? this.$props.value : this.$props.list;
        }
    }
</script>

<style scoped>
    .item-container {
        max-width: 20rem;
        margin: 0;
    }

    .item {
        padding: 1rem;
        border: solid black 1px;
        background-color: #fefefe;
    }
    .item-sub {
        margin: 0 0 0 1rem;
    }
</style>