<template>
    <div>
        <table class="table table-striped" style="width: 1000px;">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Sport</th>
            </tr>
            </thead>
            <draggable v-model="list" tag="tbody">
                <tr v-for="item in list">
                    <td scope="row"><b-input v-model="item.id"/></td>
                    <td><b-input v-model="item.name"/></td>
                    <td><b-input v-model="item.sport"/></td>
                </tr>
            </draggable>
        </table>
        <br>
        <b-button v-on:click="modelCheck">Check</b-button>
    </div>
</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';

    import draggable from 'vuedraggable';

    @Component({
        components: {
            draggable
        }
    })
    export default class DraggableListComponent extends Vue {
        list = [
            {id: 1, name: 'Abby', sport: 'basket'},
            {id: 2, name: 'Brooke', sport: 'foot'},
            {id: 3, name: 'Courtenay', sport: 'volley'},
            {id: 4, name: 'David', sport: 'rugby'}
        ];

        modelCheck() {
            console.log(this.list);
        }
    }
</script>
