<template>
    <div>
        <draggable-items :elements="elements" />
        <b-button v-on:click="sampleData">Buttons</b-button>
        <b-button v-on:click="pushArray">Push</b-button>
    </div>
</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';

    import DraggableItems from '@/kr/co/genie/public/draggable/view/DraggableItems.vue';

    @Component({
        name: 'draggableView',
        components: {
            'draggable-items': DraggableItems
        }
    })
    export default class DraggableComponent extends Vue {
        index = 6;
        elements = [
            {
                id: 1,
                name: 'Shrek',
                elements: []
            },
            {
                id: 2,
                name: 'Fiona',
                elements: [
                    {
                        id: 3,
                        name: 'Lord Farquad',
                        elements: []
                    },
                    {
                        id: 4,
                        name: 'Prince Charming',
                        elements: []
                    }
                ]
            },
            {
                id: 5,
                name: 'Donkey',
                elements: []
            }
        ];

        sampleData() {
            console.log(Object.assign([], this.elements));
        }

        pushArray() {
            this.elements.push({
                id: this.index,
                name: 'Donkey' + this.index,
                elements: []
            });
            this.index++;
        }
    }
</script>
