<template>
    <b-row class="w-100">
        <h5>test</h5>
        <b-row class="w-100">
            <b-breadcrumb>
                <b-breadcrumb-item href="#home">
                    Home
                </b-breadcrumb-item>
                <b-breadcrumb-item href="#foo">Foo</b-breadcrumb-item>
                <b-breadcrumb-item href="#bar">Bar</b-breadcrumb-item>
                <b-breadcrumb-item active>Baz</b-breadcrumb-item>
            </b-breadcrumb>
        </b-row>

        <b-row class="w-100">
            <b-card class="w-100">
                <form>
                    <b-row>
                        <b-col>
                            <label>search1</label>
                            <b-input type="text"/>
                        </b-col>
                        <b-col>
                            <label>search1</label>
                            <b-input type="text"/>
                        </b-col>
                        <b-col>
                            <label>search1</label>
                            <b-input type="text"/>
                        </b-col>
                        <b-col>
                            <b-button v-b-toggle="'collapse-2'">filter</b-button>
                            <b-button>Submit</b-button>
                        </b-col>
                    </b-row>
                    <b-collapse id="collapse-2">
                        <b-row>
                            <b-col>
                                <label>search1</label>
                                <b-input type="text"/>
                            </b-col>
                            <b-col>
                                <label>search1</label>
                                <b-input type="text"/>
                            </b-col>
                            <b-col>
                                <label>search1</label>
                                <b-input type="text"/>
                            </b-col>
                            <b-col>
                                <label>search1</label>
                                <b-input type="text"/>
                            </b-col>
                        </b-row>
                    </b-collapse>
                </form>
            </b-card>
        </b-row>

        <b-row>
            <b-col class="nav-col">
                <b-container fluid>
                    <b-row align-h="between" class="mt-lg-4 form-inline">
                        <b-col cols="4" class="tbl-header">
                            <span>총 <strong class="color-red">100개</strong>의 검색 결과가 있습니다.</span>
                        </b-col>
                        <b-col cols="4" class="text-right">
                            <b-button class="btn blue mr-sm-2">프로젝트 등록</b-button>
                            <b-select>
                                <option>10개씩 보기</option>
                                <option>20개씩 보기</option>
                                <option>30개씩 보기</option>
                                <option>40개씩 보기</option>
                                <option>50개씩 보기</option>
                            </b-select>
                        </b-col>
                    </b-row>

                    <b-row class="tbl mt-lg-3">
                        <table>
                            <colgroup>
                                <col width="10%"/>
                                <col width="10%"/>
                                <col width="10%"/>
                                <col width="10%"/>
                                <col width="10%"/>
                                <col width="10%"/>
                            </colgroup>
                            <thead>
                            <tr>
                                <th>프로젝트 명</th>
                                <th>프로젝트 유형</th>
                                <th>작업 세트 명</th>
                                <th>문서 수</th>
                                <th>문장 수</th>
                                <th>어절 수</th>
                                <th>관리자</th>
                                <th>등록일</th>
                                <th>분과</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-on:click="row">
                                <td>발표 자료 말뭉치 구축</td>
                                <td>구축</td>
                                <td>8월 말뭉치 작업</td>
                                <td>10</td>
                                <td>138</td>
                                <td>1,000</td>
                                <td>프로젝트관리자(admin1)</td>
                                <td>2019.07.01</td>
                                <td>7 개</td>
                            </tr>
                            <tr>
                                <td>발표 자료 말뭉치 구축</td>
                                <td>구축</td>
                                <td>8월 말뭉치 작업</td>
                                <td>10</td>
                                <td>138</td>
                                <td>1,000</td>
                                <td>프로젝트관리자(admin1)</td>
                                <td>2019.07.01</td>
                                <td>7 개</td>
                            </tr>
                            <tr>
                                <td>발표 자료 말뭉치 구축</td>
                                <td>구축</td>
                                <td>8월 말뭉치 작업</td>
                                <td>10</td>
                                <td>138</td>
                                <td>1,000</td>
                                <td>프로젝트관리자(admin1)</td>
                                <td>2019.07.01</td>
                                <td>7 개</td>
                            </tr>
                            </tbody>
                        </table>
                    </b-row>
                    <b-row class="justify-content-md-center">
                        <b-col class="my-1">
                            <b-pagination align="center" class="mt-2"></b-pagination>
                        </b-col>
                    </b-row>
                </b-container>
            </b-col>
        </b-row>
    </b-row>
</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';

    import SlVueTree from 'sl-vue-tree';

    @Component
    export default class SearchBarComponent extends Vue {
        fields = [

            {key: 'index', label: 'Index'},
            {key: 'name', label: 'Full Name'},
            {key: 'age', label: 'Age'},
            {key: 'sex', label: 'Sex'},
            {key: 'nameage', label: 'First name and age'}
        ];

        items = [
            {name: {first: 'John', last: 'Doe'}, sex: 'Male', age: 42},
            {name: {first: 'Jane', last: 'Doe'}, sex: 'Female', age: 36},
            {name: {first: 'Rubin', last: 'Kincade'}, sex: 'Male', age: 73},
            {name: {first: 'Shirley', last: 'Partridge'}, sex: 'Female', age: 62}
        ];

        linkGen(pageNum) {
            return pageNum === 1 ? '?' : `?page=${pageNum}`;
        }

        row() {
            console.log('row-click');
        }
    }
</script>
