<template>
    <div>
        <sl-vue-tree v-model="nodes">
            <template slot="title" slot-scope="{ node }">
                {{node.title.toUpperCase()}}
            </template>
            <template slot="sidebar" slot-scope="{ node }">
                sidebar slot
            </template>
            <template slot="toggle" slot-scope="{ node }">
                {{node.children && node.children.length > 0 ? node.isExpanded ? '-' : '+' : ''}}
            </template>
            <template slot="draginfo" slot-scope="props">
                pointless slot because it doesn't pass any props: {{JSON.stringify(props)}}
            </template>
        </sl-vue-tree>

        <b-button v-on:click="pushData">Push</b-button>
        <pre>{{JSON.stringify(nodes, null, 4)}}</pre>
    </div>
</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';

    import SlVueTree from 'sl-vue-tree';

    @Component({
        components: {
            SlVueTree
        }
    })
    export default class SLTreeComponent extends Vue {
        nodes = [
            {
                title: 'One',
            },
            {
                title: 'Two',
            },
            {
                title: 'Three',
            },
            {
                title: 'Four',
            },
            {
                title: 'Five',
            },
            {
                title: 'Six',
            }
        ];

        pushData() {
            this.nodes.push({title: 'Custom'});
        }
    }
</script>

<style>
    .sl-vue-tree {
        position: relative;
        cursor: default;
        user-select: none;
        width: 400px;
        font-size: 20px;
        height: auto;
        /*
        height: 100px;
        overflow: auto;
        */
    }

    .sl-vue-tree-root > .sl-vue-tree-nodes-list {
        overflow: hidden;
        position: relative;
        padding-bottom: 4px;
    }

    .sl-vue-tree-selected > .sl-vue-tree-node-item {
        /*background-color: rgba(100, 100, 255, 0.5);*/
    }

    .sl-vue-tree-node-list {
        position: relative;
        display: flex;
        flex-direction: row;
    }

    .sl-vue-tree-node-item {
        position: relative;
        display: flex;
        flex-direction: row;
        box-sizing: border-box;
        border: 1px solid #ccc;
        padding: 4px;
    }

    .sl-vue-tree-node-item.sl-vue-tree-cursor-inside {
        /*outline: 1px solid rgba(100, 100, 255, 0.5);*/
        background: #ccc;
        border: 1px solid black;
        box-sizing: border-box;
    }

    .sl-vue-tree-gap {
        width: 20px;
        min-height: 1px;
    }

    .sl-vue-tree-sidebar {
        margin-left: auto;
    }

    .sl-vue-tree-cursor {
        position: absolute;
        border-top: 2px solid black;
        height: 1px;
        width: 100%;
    }

    .sl-vue-tree-drag-info {
        position: absolute;
        background-color: #ccc;
        opacity: 0.8;
        margin-left: 20px;
        margin-bottom: 20px;
        padding: 5px 10px;
    }
</style>
