<template>
    <b-container fluid>
        <b-row align-h="between">
            <b-col cols="4" class="title-box">
                <h2 class="title">가이드</h2>
            </b-col>
            <b-col cols="4" class="text-right">
                <!--                프로젝트 관리 > 프로젝트 관리 > 프로젝트 등록-->
            </b-col>
        </b-row>
        <b-row>
            <b-col class="nav-col">
                <nav-bar></nav-bar>
            </b-col>
        </b-row>
        <b-row class="form-inline">
            <b-col class="tbl type-view">
                <table>
                    <colgroup>
                        <col width="15%"/>
                        <col/>
                    </colgroup>
                    <tbody>
                    <tr>
                        <th>
                            버튼 확인 메시지
                        </th>
                        <td>
                            <n-confirm type="ADD" prefix="프로젝트를">
                               <b-button variant="primary" squared class="mr-1">등록</b-button>
                            </n-confirm>

                            <n-confirm type="MODIFY">
                                <b-button variant="success" squared class="mr-1">수정</b-button>
                            </n-confirm>

                            <n-confirm type="DELETE" prefix="분과를">
                                <b-button variant="danger" squared class="mr-1">삭제</b-button>
                            </n-confirm>

                            <n-confirm type="SAVE">
                                <b-button variant="info" squared class="mr-1">저장</b-button>
                            </n-confirm>

                            <n-confirm type="CANCEL">
                                <b-button variant="warning" squared class="mr-1">취소</b-button>
                            </n-confirm>

                            <n-confirm type="PUT">
                                <b-button variant="primary" squared class="mr-1">추가</b-button>
                            </n-confirm>

                            <n-confirm :messages="{title:'로그아웃 하시겠습니까?', yes:'예', no:'아니오'}" yesClass="btn btn-warning btn-sm" noClass="btn btn-secondary btn-sm">
                                <b-button variant="dark"  squared class="mr-1">로그아웃</b-button>
                            </n-confirm>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            이벤트 실행
                        </th>
                        <td>
                            <b-button squared @click="onMessageToast">메시지 토스트</b-button>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            날짜 선택기 (from ~ to)
                        </th>
                        <td>
                            <n-date-from-to v-model="selectDateFromTo" :date="{start:new Date(1900, 1, 1), end:new Date()}"></n-date-from-to>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            날짜 선택기 (단일)
                        </th>
                        <td>
                            <n-date-single v-model="selectDate" :date="selectDate" :today="true"></n-date-single>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            페이지 목록 컴포넌트
                        </th>
                        <td>
                            <n-page-option v-model="pageSize" :default-value="40"></n-page-option>
                            {{pageSize}}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            설렉트 박스
                        </th>
                        <td>
                            <n-select :use-all="true" v-model="selectBoxDate" :options="selectBoxOptions" class="mr-2"></n-select>
                            {{selectBoxDate}}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            라디오 박스
                        </th>
                        <td>
                            <n-radio :use-all="true" v-model="radioBoxDate" :options="radioBoxOptions"></n-radio>
                            {{radioBoxDate}}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Enum
                        </th>
                        <td>
<!--                            <n-select :use-all="true" :options="Object.$enum.getProjectTypes"></n-select>-->
<!--                            <n-radio :options="Object.$enum.getRoleTypes"></n-radio>-->
<!--                            {{Object.$enum.ProjectType.CNST}}-->
<!--                            {{Object.$enum.getWorksetTypes}}-->
<!--                            {{Object.$enum.getProjectTypeName(Object.$enum.ProjectType.CNST)}}-->
<!--                            {{Object.$enum.getCorpusTypeName('SB')}}-->
                        </td>
                    </tr>
                    </tbody>
                </table>
            </b-col>
        </b-row>




        <b-row class="form-inline">
            <b-col class="tbl type-view">
                <table>
                    <colgroup>
                        <col/>
                    </colgroup>
                    <tbody>
                    <tr>
                        <td><b-button variant="info" size="lg">검색</b-button></td>
                        <td><b-button variant="primary" size="lg">등록</b-button></td>
                        <td><b-button variant="warning" size="lg">수정</b-button></td>
                        <td><b-button variant="success" size="lg">저장</b-button></td>
                        <td><b-button variant="dark" size="lg">추가</b-button></td>
                        <td><b-button variant="danger" size="lg">삭제</b-button></td>
                        <td><b-button variant="secondary" size="lg">목록</b-button></td>
                        <td><b-button variant="secondary" size="lg">닫기</b-button></td>
                        <td><b-button variant="secondary" size="lg">취소</b-button></td>
                    </tr>
                    </tbody>
                </table>

                <table>
                    <colgroup>
                        <col width="10%"/>
                        <col/>
                    </colgroup>
                    <tbody>
                        <tr>
                            <th>색상정보</th>
                            <td colspan="6">
                                <b-button variant="primary" size="sm">primary</b-button>
                                <b-button variant="secondary" size="sm">secondary</b-button>
                                <b-button variant="success" size="sm">secondary</b-button>
                                <b-button variant="warning" size="sm">warning</b-button>
                                <b-button variant="danger" size="sm">danger</b-button>
                                <b-button variant="info" size="sm">info</b-button>
                                <b-button variant="light" size="sm">light</b-button>
                                <b-button variant="dark" size="sm">dark</b-button>
                            </td>
                        </tr>
                        <tr>
                            <th rowspan="2">버튼 L</th>
                            <td><b-button variant="primary" size="lg">조회 / 검색 / 등록 / 보내기</b-button></td>
                            <td><b-button variant="primary" squared size="lg">조회 / 검색 / 등록 / 보내기</b-button></td>
                            <td><b-button variant="primary" pill size="lg">조회 / 검색 / 등록 / 보내기</b-button></td>

                            <td><b-button variant="success" size="lg">수정 / 해제</b-button></td>
                            <td><b-button variant="success" squared size="lg">수정 / 해제</b-button></td>
                            <td><b-button variant="success" pill size="lg">수정 / 해제</b-button></td>
                        </tr>
                        <tr>
                            <td><b-button variant="danger" size="lg">삭제 / 정지</b-button></td>
                            <td><b-button variant="danger" squared size="lg">삭제 / 정지</b-button></td>
                            <td><b-button variant="danger" pill size="lg">삭제 / 정지</b-button></td>

                            <td><b-button variant="secondary" size="lg">취소 /목록</b-button></td>
                            <td><b-button variant="secondary" squared size="lg">취소 /목록</b-button></td>
                            <td><b-button variant="secondary" pill size="lg">취소 /목록</b-button></td>
                        </tr>
                        <tr>
                            <th rowspan="2">버튼 M</th>
                            <td><b-button variant="primary">조회 / 검색 / 등록 / 보내기</b-button></td>
                            <td><b-button variant="primary" squared>조회 / 검색 / 등록 / 보내기</b-button></td>
                            <td><b-button variant="primary" pill>조회 / 검색 / 등록 / 보내기</b-button></td>

                            <td><b-button variant="success">수정 / 해제</b-button></td>
                            <td><b-button variant="success" squared>수정 / 해제</b-button></td>
                            <td><b-button variant="success" pill>수정 / 해제</b-button></td>
                        </tr>
                        <tr>
                            <td><b-button variant="danger">삭제 / 정지</b-button></td>
                            <td><b-button variant="danger" squared>삭제 / 정지</b-button></td>
                            <td><b-button variant="danger" pill>삭제 / 정지</b-button></td>

                            <td><b-button variant="secondary">취소 /목록</b-button></td>
                            <td><b-button variant="secondary" squared>취소 /목록</b-button></td>
                            <td><b-button variant="secondary" pill>취소 /목록</b-button></td>
                        </tr>
                        <tr>
                            <th rowspan="2">버튼 S</th>
                            <td><b-button variant="primary" size="sm">조회 / 검색 / 등록 / 보내기</b-button></td>
                            <td><b-button variant="primary" squared size="sm">조회 / 검색 / 등록 / 보내기</b-button></td>
                            <td><b-button variant="primary" pill size="sm">조회 / 검색 / 등록 / 보내기</b-button></td>

                            <td><b-button variant="success" size="sm">수정 / 해제</b-button></td>
                            <td><b-button variant="success" squared size="sm">수정 / 해제</b-button></td>
                            <td><b-button variant="success" pill size="sm">수정 / 해제</b-button></td>
                        </tr>
                        <tr>
                            <td><b-button variant="danger" size="sm">삭제 / 정지</b-button></td>
                            <td><b-button variant="danger" squared size="sm">삭제 / 정지</b-button></td>
                            <td><b-button variant="danger" pill size="sm">삭제 / 정지</b-button></td>

                            <td><b-button variant="secondary" size="sm">취소 /목록</b-button></td>
                            <td><b-button variant="secondary" squared size="sm">취소 /목록</b-button></td>
                            <td><b-button variant="secondary" pill size="sm">취소 /목록</b-button></td>
                        </tr>
                        <tr>
                            <th rowspan="2">버튼 T</th>
                            <td><b-button variant="primary" class="btn-tiny">조회 / 검색 / 등록 / 보내기</b-button></td>
                            <td><b-button variant="primary" squared class="btn-tiny">조회 / 검색 / 등록 / 보내기</b-button></td>
                            <td><b-button variant="primary" pill class="btn-tiny">조회 / 검색 / 등록 / 보내기</b-button></td>

                            <td><b-button variant="success" class="btn-tiny">수정 / 해제</b-button></td>
                            <td><b-button variant="success" squared class="btn-tiny">수정 / 해제</b-button></td>
                            <td><b-button variant="success" pill class="btn-tiny">수정 / 해제</b-button></td>
                        </tr>
                        <tr>
                            <td><b-button variant="danger" class="btn-tiny">삭제 / 정지</b-button></td>
                            <td><b-button variant="danger" squared class="btn-tiny">삭제 / 정지</b-button></td>
                            <td><b-button variant="danger" pill class="btn-tiny">삭제 / 정지</b-button></td>

                            <td><b-button variant="secondary" class="btn-tiny">취소 /목록</b-button></td>
                            <td><b-button variant="secondary" squared class="btn-tiny">취소 /목록</b-button></td>
                            <td><b-button variant="secondary" pill class="btn-tiny">취소 /목록</b-button></td>
                        </tr>

                        <tr>
                            <th rowspan="2">버튼 L</th>
                            <td><b-button variant="outline-primary" size="lg">조회 / 검색 / 등록 / 보내기</b-button></td>
                            <td><b-button variant="outline-primary" squared size="lg">조회 / 검색 / 등록 / 보내기</b-button></td>
                            <td><b-button variant="outline-primary" pill size="lg">조회 / 검색 / 등록 / 보내기</b-button></td>

                            <td><b-button variant="outline-success" size="lg">수정 / 해제</b-button></td>
                            <td><b-button variant="outline-success" squared size="lg">수정 / 해제</b-button></td>
                            <td><b-button variant="outline-success" pill size="lg">수정 / 해제</b-button></td>
                        </tr>
                        <tr>
                            <td><b-button variant="outline-danger" size="lg">삭제 / 정지</b-button></td>
                            <td><b-button variant="outline-danger" squared size="lg">삭제 / 정지</b-button></td>
                            <td><b-button variant="outline-danger" pill size="lg">삭제 / 정지</b-button></td>

                            <td><b-button variant="outline-secondary" size="lg">취소 /목록</b-button></td>
                            <td><b-button variant="outline-secondary" squared size="lg">취소 /목록</b-button></td>
                            <td><b-button variant="outline-secondary" pill size="lg">취소 /목록</b-button></td>
                        </tr>
                        <tr>
                            <th rowspan="2">버튼 M</th>
                            <td><b-button variant="outline-primary">조회 / 검색 / 등록 / 보내기</b-button></td>
                            <td><b-button variant="outline-primary" squared>조회 / 검색 / 등록 / 보내기</b-button></td>
                            <td><b-button variant="outline-primary" pill>조회 / 검색 / 등록 / 보내기</b-button></td>

                            <td><b-button variant="outline-success">수정 / 해제</b-button></td>
                            <td><b-button variant="outline-success" squared>수정 / 해제</b-button></td>
                            <td><b-button variant="outline-success" pill>수정 / 해제</b-button></td>
                        </tr>
                        <tr>
                            <td><b-button variant="outline-danger">삭제 / 정지</b-button></td>
                            <td><b-button variant="outline-danger" squared>삭제 / 정지</b-button></td>
                            <td><b-button variant="outline-danger" pill>삭제 / 정지</b-button></td>

                            <td><b-button variant="outline-secondary">취소 /목록</b-button></td>
                            <td><b-button variant="outline-secondary" squared>취소 /목록</b-button></td>
                            <td><b-button variant="outline-secondary" pill>취소 /목록</b-button></td>
                        </tr>
                        <tr>
                            <th rowspan="2">버튼 S</th>
                            <td><b-button variant="outline-primary" size="sm">조회 / 검색 / 등록 / 보내기</b-button></td>
                            <td><b-button variant="outline-primary" squared size="sm">조회 / 검색 / 등록 / 보내기</b-button></td>
                            <td><b-button variant="outline-primary" pill size="sm">조회 / 검색 / 등록 / 보내기</b-button></td>

                            <td><b-button variant="outline-success" size="sm">수정 / 해제</b-button></td>
                            <td><b-button variant="outline-success" squared size="sm">수정 / 해제</b-button></td>
                            <td><b-button variant="outline-success" pill size="sm">수정 / 해제</b-button></td>
                        </tr>
                        <tr>
                            <td><b-button variant="outline-danger" size="sm">삭제 / 정지</b-button></td>
                            <td><b-button variant="outline-danger" squared size="sm">삭제 / 정지</b-button></td>
                            <td><b-button variant="outline-danger" pill size="sm">삭제 / 정지</b-button></td>

                            <td><b-button variant="outline-secondary" size="sm">취소 /목록</b-button></td>
                            <td><b-button variant="outline-secondary" squared size="sm">취소 /목록</b-button></td>
                            <td><b-button variant="outline-secondary" pill size="sm">취소 /목록</b-button></td>
                        </tr>
                        <tr>
                            <th rowspan="2">버튼 T</th>
                            <td><b-button variant="outline-primary" class="btn-tiny">조회 / 검색 / 등록 / 보내기</b-button></td>
                            <td><b-button variant="outline-primary" squared class="btn-tiny">조회 / 검색 / 등록 / 보내기</b-button></td>
                            <td><b-button variant="outline-primary" pill class="btn-tiny">조회 / 검색 / 등록 / 보내기</b-button></td>

                            <td><b-button variant="outline-success" class="btn-tiny">수정 / 해제</b-button></td>
                            <td><b-button variant="outline-success" squared class="btn-tiny">수정 / 해제</b-button></td>
                            <td><b-button variant="outline-success" pill class="btn-tiny">수정 / 해제</b-button></td>
                        </tr>
                        <tr>
                            <td><b-button variant="outline-danger" class="btn-tiny">삭제 / 정지</b-button></td>
                            <td><b-button variant="outline-danger" squared class="btn-tiny">삭제 / 정지</b-button></td>
                            <td><b-button variant="outline-danger" pill class="btn-tiny">삭제 / 정지</b-button></td>

                            <td><b-button variant="outline-secondary" class="btn-tiny">취소 /목록</b-button></td>
                            <td><b-button variant="outline-secondary" squared class="btn-tiny">취소 /목록</b-button></td>
                            <td><b-button variant="outline-secondary" pill class="btn-tiny">취소 /목록</b-button></td>
                        </tr>
                    </tbody>
                </table>
            </b-col>
        </b-row>

        <b-row class="form-inline">
            <b-col class="tbl type-view">
                <table>
                    <colgroup>
                        <col width="10%"/>
                        <col/>
                        <col width="10%"/>
                        <col/>
                        <col width="10%"/>
                        <col/>
                    </colgroup>
                    <tbody>
                    <tr>
                        <th>포인트컬러</th>
                        <td colspan="5" bgcolor="#0FB7E8">
                            지니뮤직 로고 색상 / color:#0FB7E8
                        </td>
                    </tr>
                    <tr>
                        <th>폰트 - 주 타이틀</th>
                        <td>
                            <h2 class="title">주 타이틀</h2>
                        </td>
                        <th>폰트 - 보조 타이틀</th>
                        <td>
                            <h3 class="title">보조 타이틀</h3>
                        </td>
                        <th>폰트 - 기본</th>
                        <td>
                            기본 폰트
                        </td>
                    </tr>
                    <tr>
                        <th>팝업 기본</th>
                        <td colspan="5">
                            <b-button squared class="purple" @click="$bvModal.show('bv-modal-example')">팝업</b-button>
                            <b-modal id="bv-modal-example"
                                     centered
                                     size="lg"
                                     title="원시 말뭉치 등록"
                            >
                                <template slot="default">
                                    <b-container fluid>
                                        <b-row class="tbl type-view form-inline">
                                            <b-col>
                                                <table>
                                                    <colgroup>
                                                        <col width="15%"/>
                                                        <col/>
                                                        <col width="15%"/>
                                                        <col/>
                                                    </colgroup>
                                                    <tbody>
                                                    <tr>
                                                        <th>등록자</th>
                                                        <td>말뭉치 관리자</td>
                                                        <th>등록일</th>
                                                        <td>2019.07.01</td>
                                                    </tr>
                                                    <tr>
                                                        <th>파일 형식</th>
                                                        <td colspan="3">
                                                            <b-radio-group>
                                                                <b-radio>JSON</b-radio>
                                                                <b-radio>XML</b-radio>
                                                            </b-radio-group>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>파일 형식</th>
                                                        <td colspan="3">
                                                            <b-input class="ml-sm-2 w-50"></b-input>
                                                            <b-button squared class="purple btn ml-sm-2">선택
                                                            </b-button>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </b-col>
                                        </b-row>
                                        <b-row class="mt-2">
                                            <b-col>
                                                <b-alert show variant="primary">
                                                    원시 말뭉치 등록이 완료 되었습니다.
                                                    (문서 : 3건 / 문장 : 27개 / 어절 수 : 1,000개)
                                                </b-alert>
                                            </b-col>
                                        </b-row>
                                    </b-container>
                                </template>
                                <template slot="modal-footer" slot-scope="{ ok, hide }">
                                    <div class="w-100 text-center">
                                        <b-button squared class="btnB purple" @click="ok()">등록하기</b-button>
                                        <b-button squared class="btnB gray ml-3" @click="hide()">닫기</b-button>
                                    </div>
                                </template>
                            </b-modal>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </b-col>
        </b-row>

        <b-row>
            <b-col class="nav-col">
                <b-container fluid>
                    <b-row align-h="between" class="mt-lg-4 form-inline">
                        <b-col cols="4" class="tbl-header">
                            <span>총 <strong class="color-red">100개</strong>의 검색 결과가 있습니다.</span>
                        </b-col>
                        <b-col cols="4" class="text-right">
                            <b-button class="btn blue mr-sm-2">프로젝트 등록</b-button>
                            <b-select>
                                <option>10개씩 보기</option>
                                <option>20개씩 보기</option>
                                <option>30개씩 보기</option>
                                <option>40개씩 보기</option>
                                <option>50개씩 보기</option>
                            </b-select>
                        </b-col>
                    </b-row>

                    <b-row class="tbl mt-lg-3">
                        <table>
                            <colgroup>
                                <col width="10%"/>
                                <col width="10%"/>
                                <col width="10%"/>
                                <col width="10%"/>
                                <col width="10%"/>
                                <col width="10%"/>
                            </colgroup>
                            <thead>
                            <tr>
                                <th>프로젝트 명</th>
                                <th>프로젝트 유형</th>
                                <th>작업 세트 명</th>
                                <th>문서 수</th>
                                <th>문장 수</th>
                                <th>어절 수</th>
                                <th>관리자</th>
                                <th>등록일</th>
                                <th>분과</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>발표 자료 말뭉치 구축</td>
                                <td>구축</td>
                                <td>8월 말뭉치 작업</td>
                                <td>10</td>
                                <td>138</td>
                                <td>1,000</td>
                                <td>프로젝트관리자(admin1)</td>
                                <td>2019.07.01</td>
                                <td>7 개</td>
                            </tr>
                            <tr>
                                <td>발표 자료 말뭉치 구축</td>
                                <td>구축</td>
                                <td>8월 말뭉치 작업</td>
                                <td>10</td>
                                <td>138</td>
                                <td>1,000</td>
                                <td>프로젝트관리자(admin1)</td>
                                <td>2019.07.01</td>
                                <td>7 개</td>
                            </tr>
                            <tr>
                                <td>발표 자료 말뭉치 구축</td>
                                <td>구축</td>
                                <td>8월 말뭉치 작업</td>
                                <td>10</td>
                                <td>138</td>
                                <td>1,000</td>
                                <td>프로젝트관리자(admin1)</td>
                                <td>2019.07.01</td>
                                <td>7 개</td>
                            </tr>
                            </tbody>
                        </table>
                    </b-row>
                    <b-row class="justify-content-md-center">
                        <b-col class="my-1">
                            <b-pagination align="center" class="mt-2"></b-pagination>
                        </b-col>
                    </b-row>
                </b-container>
            </b-col>
        </b-row>


        <b-row class="mt-5">
            <b-col>
                <div>
                    <b-tabs content-class="mt-3" justified>
                        <b-tab title="탭 메뉴 1" active></b-tab>
                        <b-tab title="탭 메뉴 2"></b-tab>
                    </b-tabs>
                </div>
            </b-col>
        </b-row>
        <b-row class="mt-2">
            <b-col>
                <div>
                    <b-tabs content-class="mt-3" justified>
                        <b-tab title="Tab 1" active></b-tab>
                        <b-tab title="Tab 2"></b-tab>
                        <b-tab title="Tab 3"></b-tab>
                    </b-tabs>
                </div>
            </b-col>
        </b-row>
        <b-row class="mt-2">
            <b-col>
                <div>
                    <b-tabs content-class="mt-3" justified>
                        <b-tab title="Tab 1" active></b-tab>
                        <b-tab title="Tab 2"></b-tab>
                        <b-tab title="Tab 3"></b-tab>
                        <b-tab title="Tab 4"></b-tab>
                    </b-tabs>
                </div>
            </b-col>
        </b-row>
        <b-row class="mt-2">
            <b-col>
                <div>
                    <b-tabs content-class="mt-3" justified>
                        <b-tab title="Tab 1" active></b-tab>
                        <b-tab title="Tab 2"></b-tab>
                        <b-tab title="Tab 3"></b-tab>
                        <b-tab title="Tab 4"></b-tab>
                        <b-tab title="Tab 5"></b-tab>
                        <b-tab title="Tab 6"></b-tab>
                        <b-tab title="Tab 7"></b-tab>
                        <b-tab title="Tab 8"></b-tab>
                        <b-tab title="Tab 9"></b-tab>
                        <b-tab title="Tab 10"></b-tab>
                    </b-tabs>
                </div>
            </b-col>
        </b-row>
        <b-row class="mt-3">
            <b-col class="nav-col"><!-- 샘플 예제를 위해 nav-col 임의 삽입 -->
                <b-container fluid>
                    <b-row align-h="between">
                        <b-col cols="4" class="title-box">
                            <h2 class="title">원시 말뭉치 파일 관리</h2>
                        </b-col>
                        <b-col cols="4" class="text-right">
                            말뭉치 파일 관리 > 원시 말뭉치 파일 관리
                        </b-col>
                    </b-row>

                    <b-row class="form-inline">
                        <b-col class="tbl type-view">
                            <table>
                                <colgroup>
                                    <col width="15%">
                                    <col/>
                                    <col/>
                                </colgroup>
                                <tbody>
                                <tr>
                                    <th>말뭉치 유형</th>
                                    <td>
                                        <b-radio-group>
                                            <b-radio>전체</b-radio>
                                            <b-radio>신문</b-radio>
                                            <b-radio>메신저</b-radio>
                                        </b-radio-group>
                                    </td>
                                    <th>말뭉치 유형</th>
                                    <td>
                                        <b-radio-group>
                                            <b-radio>전체</b-radio>
                                            <b-radio>신문</b-radio>
                                            <b-radio>메신저</b-radio>
                                        </b-radio-group>
                                    </td>
                                </tr>
                                <tr>
                                    <th>매체 및 장르</th>
                                    <td>
                                        <b-select>
                                            <option>전체</option>
                                            <option>신문</option>
                                            <option>메신저</option>
                                        </b-select>
                                    </td>
                                    <th>매체 및 장르</th>
                                    <td>
                                        <b-select>
                                            <option>전체</option>
                                            <option>신문</option>
                                            <option>메신저</option>
                                        </b-select>
                                    </td>
                                </tr>
                                <tr>
                                    <th>찾을 대상</th>
                                    <td colspan="3">
                                        <b-input class="w-50"></b-input>
                                        <b-button class="btn purple ml-sm-2">검색</b-button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </b-col>
                    </b-row>
                </b-container>
            </b-col>
        </b-row>
    </b-container>
</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';

    @Component({
        components: {
        },
    })
    export default class Guide extends Vue {


        public selectDate: Date = new Date(1900, 1, 1);
        public selectDateFromTo: object = {start: new Date(1900, 1, 1), end: new Date()};
        public pageSize: number = 20;
        public selectBoxDate: string | null = null;
        public radioBoxDate: string | null = null;

        public selectBoxOptions = [
            {text: '코드명', value: 'category.name'},
            {text: '설명', value: 'category.description'},
        ];

        public radioBoxOptions = [
            {text: '코드명', value: 'category.name'},
            {text: '설명', value: 'category.description'},
            {text: '사용유무', value: 'category.useYn'},
        ];


        public onMessageToast() {
            Object.$plugins.event.onMessage('오류가 발생 하였습니다.');
            Object.$plugins.event.onMessageCustom('primary', '제목', '내용');
            Object.$plugins.event.onMessageCustom('secondary', '제목', '내용');
            Object.$plugins.event.onMessageCustom('success', '제목', '내용');
            Object.$plugins.event.onMessageCustom('warning', '제목', '내용');
            Object.$plugins.event.onMessageCustom('warning', '제목', '내용');
            Object.$plugins.event.onMessageCustom('info', '제목', '내용');
            Object.$plugins.event.onMessageCustom('light', '제목', '내용');
            Object.$plugins.event.onMessageCustom('dark', '제목', '내용');
        }
    }

</script>
