<template>
    <b-container class="pad-zero" fluid>
        <b-row class="pad-zero">
            <b-col class="wrapper" v-bind:class="{'toggled': isClosed}">
                <b-col>
                    <left-menu/>
                    <i class="fas fa-align-justify fa-3x hamburger" @click="menuClick"></i>
                </b-col>
                <b-col>
                    <b-row >
                        <b-col>
                            <header-bar></header-bar>
                        </b-col>
                    </b-row>
                    <b-row class="content">
                        <b-col>
                            <router-view></router-view>
                        </b-col>
                    </b-row>
                </b-col>
            </b-col>
        </b-row>
    </b-container>
</template>


<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';
    import LeftMenu         from '@/kr/co/genie/cms/common/view/LeftMenu.vue';
    import HeaderBar         from '@/kr/co/genie/cms/common/view/HeaderBar.vue';

    @Component({
        components: {
            LeftMenu,
            HeaderBar,
        },
    })
    export default class DefaultLayout extends Vue {

        private isClosed: boolean = false;

        private menuClick() {
            this.isClosed = !this.isClosed;
        }
    }
</script>

<style>

    .wrapper {
        padding-left: 0;
        padding-right: 0;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    .wrapper.toggled {
        padding-left: 238px;
        padding-right: 0;
    }

    .wrapper.toggled #sidebar-wrapper {
        width: 238px;
        padding-right: 0;
    }

    .wrapper.toggled .page-content-wrapper {
        position: absolute;
        margin-right: -238;
    }
    .hamburger {
        position: fixed;
        top: 25px;
        z-index: 999;
        display: block;
        margin-left: 25px;
        background: transparent;
        border: none;
    }
</style>
