<template>
    <b-container fluid>
        <b-row class="login">
            <b-col class="create-pop">
                <router-view class="create-area"></router-view>
            </b-col>
        </b-row>
    </b-container>
</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';

    @Component
    export default class LoginLayout extends Vue {
    }
</script>
