@charset "UTF-8";

* {margin:0;padding:0;box-sizing:border-box;}

html {width:100%;height:100%;}
body {position:relative;font-family:'맑은 고딕', 'Malgun Gothic', sans-serif;font-weight:400;font-size:13px;color:#666;letter-spacing:-0.6px;height:100%;
    -webkit-text-size-adjust:100%;-moz-text-size-adjust:100%;-ms-text-size-adjust:100%;line-height:1;-webkit-overflow-scrolling:touch;}

/* bootstrap 기본 여백을 모두 제거되므로 주석 처리함 */
/*body,div,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,p,form,fieldset,table,tr,th,td {margin:0;padding:0}*/
/* ul,ol,li {list-style: none} */

img,fieldset {border:none;vertical-align:top;}
legend,caption {position:absolute;top:-9999px;left:-9999px;z-index:-1}
textarea,button {vertical-align:middle}
input {vertical-align:middle;background:#fff;border:1px solid #e1e1e1;font-family:'맑은 고딕', 'Malgun Gothic', sans-serif;font-weight:400;color:#111;letter-spacing:-0.6px;border-radius:0;font-size:13px}
select {vertical-align:middle;background:#fff;border:1px solid #e1e1e1;font-family:'맑은 고딕', 'Malgun Gothic', sans-serif;font-weight:400;color:#111;letter-spacing:-0.6px;border-radius:0;font-size:13px !important;}
input {padding:4px 10px 5px;}
option {padding:10px;}
input,select,button {margin:0;}

input[type="password"] {width:100%;height:30px;border:1px solid #e1e1e1;color:#666;background:#fff;-webkit-appearance:none;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
input[type="text"] {width:100%;height:30px;background:#fff;color:#666;-webkit-appearance:none;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}

select {padding:4px 5px 5px 5px;height:30px !important;border:1px solid #e1e1e1;background:#fff;}
textarea {padding:10px;vertical-align:middle;background:#fff;border:1px solid #e1e1e1;font-family:'맑은 고딕', 'Malgun Gothic', sans-serif;font-weight:400;color:#666;font-size:13px;
    letter-spacing:-0.6px;-webkit-appearance:none;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;border-radius:0;}

a {text-decoration: none;color: #666;}
a:hover,a:focus,a:active {text-decoration:none;}

table {border-collapse:collapse;width:100%;border:0;}

button {background:none;border:none;display:inline-block;padding:0;margin:0;cursor:pointer;overflow:visible;white-space:nowrap;font-size:13px;outline:none;}
button:active {outline:none}
button::-moz-focus-inner {padding:0;border:0;}

article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {display:block;}

strong,b {font-weight:700;}
th {font-weight:500;}

::-webkit-input-placeholder {color:#b1b1b1 !important;}
:-moz-placeholder {color:#b1b1b1 !important;opacity:1;}
::-moz-placeholder {color:#b1b1b1 !important;opacity:1;}
:-ms-input-placeholder {color:#b1b1b1 !important;}
:placeholder-shown {color:#b1b1b1 !important;}

.ovf {position:relative;overflow:hidden;}
.clear:after {display:block;content:"";clear: both;}

.group:before, .group:after {content:"";display:table;}
.group:after {clear:both;}
.group {zoom:1;}


/*font_basic */
/*.Fsize11 {font-size:11px !important;}*/
.color-red {color:#e54040 !important;}
.color-blue {color:#365ec3 !important;}
.color-purple {color:#6648c7 !important;}
.color-gray {color:#999 !important;}
.color-black {color:#111 !important;}

strong {font-weight:bold !important;}

/* awesome icon size up */
.fa-2x {font-size:2em !important;}
.fa-3x {font-size:3em !important;}
.fa-4x {font-size:4em !important;}
.fa-5x {font-size:5em !important;}


/* bootstrap 을 기본으로 사용하며, 안될시 주석 제거
.fl {float:left !important;}
.fr {float:right !important;}
.tl {text-align:left !important;}

.tr {text-align:right !important;}
.tc {text-align:center !important;}
.vt {vertical-align:top !important;}
.vm {vertical-align:middle !important;}
.vb {vertical-align:bottom !important;}
*/
