@charset "UTF-8";

* {margin:0;padding:0;box-sizing:border-box;}

/* content-div */
.content {padding:30px 20px 20px 20px;}

/* title-box */
.title-box {display:inline-block;width:100%;margin-bottom:0.3rem;}
.title-box .title { float:left;font-size:1.2rem;font-weight:bold;color:#111;letter-spacing:-1px; }
.title-box .title-nav { float:left;font-size:0.8rem;font-weight:bold;color:#7A847E;letter-spacing:-1px; }


/* font */
body {font-family:NanumSquare, '나눔스퀘어', Malgun Gothic, '맑은고딕', Dotum, '돋움', Tahoma, Arial, Helvetica, sans-serif;font-size:13px;line-height:1.8em;word-spacing:-0.5px;overflow-x:hidden;}
input, select, textarea {font-family:NanumSquare, '나눔스퀘어', Malgun Gothic, '맑은고딕', Dotum, '돋움', Tahoma, Arial, Helvetica, sans-serif;}

/** list-table : 조회 목록 **/
.list-table table {margin-top: 12px; margin-left: 15px; margin-right: 15px;}
.list-table table {table-layout:fixed;border-spacing:0;width:100%;word-break:break-all;}
.list-table table th, .list-table table td {padding:8px 10px;text-align:center;vertical-align:middle;letter-spacing:0px;word-break:break-all;border-bottom:1px solid #e8eaf2;min-height:47px;}
.list-table table th {color:#FFFFFF;border:0;padding:5px 0 6px;background:#f5f6f8;border:1px solid #d9ddea;background-color: #828282;}
.list-table th .arr {position:relative;width:27px;height:11px;display:inline-block;top:7px;cursor:pointer;}
.list-table textarea {width:100%;}
.list-table .backslash {position:relative;background:#f5f6f8 url('./images/common/backslash.png');background-size:100% 100%;}
.list-table .backslash .thTr {position:absolute;top:0;right:0;padding:12px 10px 0 0;}
.list-table .backslash .thBl {position:absolute;bottom:0;left:0;padding:0 0 12px 10px;}

/* search-box : 검색영역 */
.search-box {
    border: 1px solid rgba(0, 0, 0, 0.125); border-radius: 0.5rem;
    background-color: #fff;background-clip: border-box;
    margin-left: 1px; margin-right: 1px;
    padding: 1.2rem;
    line-height: 1.5;
    margin-bottom: 20px;
    letter-spacing: 0px;
}

.search-box label { margin-bottom: 2px; font-size: 0.8rem; width: 100%; display: block;}
.search-box input[type="text"] { font-size: 0.8rem; padding: 1.2rem; }
.search-box .btn { text-align: right; vertical-align: bottom; }

/* view-box : 보기 영역 */
.view-box {
    border: 1px solid rgba(0, 0, 0, 0.125); border-radius: 0.5rem;
    background-color: #fff;background-clip: border-box;
    margin-left: 1px; margin-right: 1px;
    padding-left: 1.5rem; padding-right: 1.5rem; padding-bottom: 1.2rem;
    line-height: 1.5;
    margin-bottom: 30px;
    letter-spacing: 0px;
}

.view-box .row { padding-top: 0.5rem; padding-bottom: 0.5rem;}
.view-box .title {
    font-weight:bold;
    font-size: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #707070;
}
.view-box label { margin-bottom: 1px; font-size: 0.8rem; font-weight: bold; display: block; }

/* edit-box : 등록/수정 영역 */
.edit-box {
    border: 1px solid rgba(0, 0, 0, 0.125); border-radius: 0.5rem;
    background-color: #fff;background-clip: border-box;
    margin-left: 1px; margin-right: 1px;
    padding-left: 1.5rem; padding-right: 1.5rem; padding-bottom: 1.2rem;
    line-height: 1.5;
    margin-bottom: 30px;
    letter-spacing: 0px;
}

.edit-box .title {
    font-weight:bold;
    font-size: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #707070;
}

.edit-box .row { padding-top: 0.5rem; padding-bottom: 0.5rem; }
.edit-box label { margin-bottom: 1px; font-size: 0.8rem; display: block; }

/* pagination : 페이지 네비게이션 */
.page-item {font-family: Malgun Gothic, '맑은고딕', Dotum, '돋움', Tahoma, Arial, Helvetica, sans-serif; margin-top: 1rem;}

/* v-calendar */
.vc-text-base {
    font-size: 13px !important;
}

/* tabs */
.nav-tabs .nav-link {line-height:36px;font-weight:bold;font-size:14px;border-color: #dee2e6 #dee2e6 #fff;}
.nav-tabs .nav-link.active {color: #fff;background-color: #0FB7E8;}

/*error : 사용 컴포넌트 수정 필요*/
.error-box {position:absolute;top:50%;width:100%;-webkit-transform: translateY(-50%);transform: translateY(-50%);}
.error-inn {margin:0 auto;width:400px;text-align:center;}
.error-text {margin-top:30px;}
.error-text dt {font-size:18px;color:#2e2e2e;font-family:'NanumGothicBold';}
.error-text dd {margin-top:8px;color:#9e9e9e;font-size:15px;}
.error-btn {margin-top:30px;text-align:center;}
.error-btn a {display: inline-block;padding:10px 3em;font-family:'NanumGothicBold';font-size:14px;color:#fff;background:#6648c7;border-radius:50em;}

/* col right - left padding zero */
.pad-zero {padding-left: 0; padding-right: 0;}

/*******************
    bootstrap reset
*********************/
.form-control {
    display: inline;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.custom-select {
    display: inline;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 1.75rem 0.375rem 0.75rem;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


/* button */
.btn-tiny, .btn-group-tiny > .btn {
    padding: 0.2rem 0.3rem;
    font-size: 0.575rem;
    line-height: 1;
    border-radius: 0.2rem;
}

.btn-primary { padding-left: 1.8rem; padding-right: 1.8rem; }
.btn-secondary { padding-left: 1.8rem; padding-right: 1.8rem; }
.btn-success { padding-left: 1.8rem; padding-right: 1.8rem; }
.btn-danger { padding-left: 1.8rem; padding-right: 1.8rem; }
.btn-warning { padding-left: 1.8rem; padding-right: 1.8rem; }
.btn-info { padding-left: 1.8rem; padding-right: 1.8rem; }
.btn-light { padding-left: 1.8rem; padding-right: 1.8rem; }
.btn-dark { padding-left: 1.8rem; padding-right: 1.8rem; }

/* modal */
.modal-dialog .modal-header {background:#424858 !important;font-size:15px;color:#fff;line-height:19px;letter-spacing:-0.05em;}
.modal-dialog .close {color: #ffffff !important;}

