@font-face {
 font-family: 'NanumSquare';
 font-weight: 400;
 src: url(/src/assets/css/css/font/NanumSquareR.eot);
 src: url(/src/assets/css/css/font/NanumSquareR.eot?#iefix) format('embedded-opentype'),
      url(/src/assets/css/css/font/NanumSquareR.woff) format('woff'),
      url(/src/assets/css/css/font/NanumSquareR.ttf) format('truetype');
}
@font-face {
 font-family: 'NanumSquare';
 font-weight: 700;
 src: url(/src/assets/css/css/font/NanumSquareB.eot);
 src: url(/src/assets/css/css/font/NanumSquareB.eot?#iefix) format('embedded-opentype'),
      url(/src/assets/css/css/font/NanumSquareB.woff) format('woff'),
      url(/src/assets/css/css/font/NanumSquareB.ttf) format('truetype');
}
@font-face {
 font-family: 'NanumSquare';
 font-weight: 800;
 src: url(/src/assets/css/css/font/NanumSquareEB.eot);
 src: url(/src/assets/css/css/font/NanumSquareEB.eot?#iefix) format('embedded-opentype'),
      url(/src/assets/css/css/font/NanumSquareEB.woff) format('woff'),
      url(/src/assets/css/css/font/NanumSquareEB.ttf) format('truetype');
}
@font-face {
 font-family: 'NanumSquare';
 font-weight: 300;
 src: url(/src/assets/css/css/font/NanumSquareL.eot);
 src: url(/src/assets/css/css/font/NanumSquareL.eot?#iefix) format('embedded-opentype'),
      url(/src/assets/css/css/font/NanumSquareL.woff) format('woff'),
      url(/src/assets/css/css/font/NanumSquareL.ttf) format('truetype');
}
