<template>
    <b-container fluid>
        <b-row class="header-color">
            <b-col>

                <div style="height: 94px;"></div>
            </b-col>
        </b-row>
    </b-container>
</template>

<script lang="ts">
    import {Vue}       from 'vue-property-decorator';
    import {Component} from 'vue-property-decorator';

    @Component
    export default class HeaderBar extends Vue {

    }
</script>

<style scoped>

    .header-color {
        background: #0FB7E8;
    }


</style>
