<template>
    <nav class="navbar navbar-inverse fixed-top" id="sidebar-wrapper" role="navigation">
        <ul class="nav sidebar-nav">
            <ul>
                <img src="@/assets/css/images/common/logo-genie.png" alt="GENIE">
            </ul>
            <li>
                <a v-bind:class="{'active': nowMenu === 'Dashboard'}">Dashboard</a>
            </li>

            <li class="dropdown" v-bind:class="{'show': nowMenu === 'drop1'}">
                <a class="dropdown-toggle" data-toggle="dropdown" @click="menuClick('drop1', null, null)">방송플렛폼</a>
                <ul class="dropdown-menu" role="menu" v-bind:class="{'show': nowMenu === 'drop1'}">
                    <li>
                        <a @click="menuClick('drop1', 'sub1', null)" v-bind:class="{'active': nowMenu === 'drop1' && nowChild === 'sub1'}">공통</a>
                    </li>
                    <li>
                        <a @click="menuClick('drop1', 'sub2', null)" v-bind:class="{'active': nowMenu === 'drop1' && nowChild === 'sub2'}">프로그램</a>
                    </li>
                    <li>
                        <a @click="menuClick('drop1', 'sub4', null)" v-bind:class="{'active': nowMenu === 'drop1' && nowChild === 'sub4'}">템플릿</a>
                    </li>

                    <li class="dropdown" v-bind:class="{'show': nowMenu === 'drop1'}">
                        <a class="dropdown-toggle" data-toggle="dropdown" @click="menuClick('drop1', null, null)">방송플렛폼</a>
                        <ul class="dropdown-menu" role="menu" v-bind:class="{'show': nowMenu === 'drop1'}">
                            <li>
                                <a @click="menuClick('drop1', 'sub1', null)" v-bind:class="{'active': nowMenu === 'drop1' && nowChild === 'sub1'}">공통</a>
                            </li>
                            <li>
                                <a @click="menuClick('drop1', 'sub2', null)" v-bind:class="{'active': nowMenu === 'drop1' && nowChild === 'sub2'}">프로그램</a>
                            </li>
                            <li>
                                <a @click="menuClick('drop1', 'sub4', null)" v-bind:class="{'active': nowMenu === 'drop1' && nowChild === 'sub4'}">템플릿</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li class="dropdown" v-bind:class="{'show': nowMenu === 'Components'}">
                <a class="dropdown-toggle" data-toggle="dropdown" @click="menuClick('Components', null, null)">Components</a>
                <ul class="dropdown-menu" role="menu" v-bind:class="{'show': nowMenu === 'Components'}">
                    <li>
                        <a @click="menuClick('Components', 'Tree', '/draggable/sample')" v-bind:class="{'active': nowMenu === 'Components' && nowChild === 'Tree'}">Draggable-Tree</a>
                    </li>
                    <li>
                        <a @click="menuClick('Components', 'List', '/draggable/sample-list')" v-bind:class="{'active': nowMenu === 'Components' && nowChild === 'List'}">Draggable-List</a>
                    </li>
                    <li>
                        <a @click="menuClick('Components', 'Image', '/draggable/sample-list-file')" v-bind:class="{'active': nowMenu === 'Components' && nowChild === 'Image'}">Draggable-Image</a>
                    </li>
                    <li>
                        <a @click="menuClick('Components', 'Tree2', '/draggable/sample2')" v-bind:class="{'active': nowMenu === 'Components' && nowChild === 'Tree2'}">SLTree</a>
                    </li>
                    <li>
                        <a @click="menuClick('Components', 'SearchBar', '/draggable/searchbar')" v-bind:class="{'active': nowMenu === 'Components' && nowChild === 'SearchBar'}">SearchBar</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</template>

<script lang="ts">
    import {Vue}       from 'vue-property-decorator';
    import {Component} from 'vue-property-decorator';

    @Component
    export default class LeftMenu extends Vue {

        private nowMenu: string = '';
        private nowChild: string = '';

        private menuClick(menu, child, url) {
            this.nowMenu = menu;
            this.nowChild = child;

            if (!!url) {
                this.$router.push(url);
            }
        }
    }
</script>

<style scoped>

    .nav .open > a,
    .nav .open > a:hover,
    .nav .open > a:focus {
        background-color: transparent;
    }

    #sidebar-wrapper {
        z-index: 1000;
        left: 238px;
        /*top: 94px;*/
        width: 0;
        height: 100%;
        margin-left: -238px;
        overflow-y: auto;
        overflow-x: hidden;
        background: #1a1a1a;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    #sidebar-wrapper::-webkit-scrollbar {
        display: none;
    }


    /*-------------------------------*/
    /*     Sidebar nav styles        */
    /*-------------------------------*/
    .navbar {
        padding: 0;
    }

    .sidebar-nav {
        position: absolute;
        top: 0;
        width: 238px;
        margin: 0;
        padding: 0;
        list-style: none;
    }



    .sidebar-nav li {
        position: relative;
        line-height: 20px;
        display: inline-block;
        width: 100%;
    }

    .sidebar-nav li:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        height: 100%;
        width: 3px;
        /*background-color: #1c1c1c;*/
        /*-webkit-transition: width .2s ease-in;*/
        /*-moz-transition: width .2s ease-in;*/
        /*-ms-transition: width .2s ease-in;*/
        /*transition: width .2s ease-in;*/

    }

    .sidebar-nav li:hover {
        background: #1062E5 !important;
    }

    .sidebar-nav li:hover:before,
    .sidebar-nav li.open:hover:before {
        width: 100%;
        -webkit-transition: width .2s ease-in;
        -moz-transition: width .2s ease-in;
        -ms-transition: width .2s ease-in;
        transition: width .2s ease-in;
    }

    .sidebar-nav li a {
        display: block;
        color: #ddd;
        text-decoration: none;
        padding: 10px 15px 10px 30px;
    }

    .sidebar-nav li a:hover,
    .sidebar-nav li a:focus,
    .sidebar-nav li.open a:hover,
    .sidebar-nav li.open a:focus {
        color: #fff;
        text-decoration: none;
        background-color: transparent;
    }

    .sidebar-nav li a.active,
    .sidebar-nav li.open a.active {
        color: #fff;
        text-decoration: none;
        background-color: transparent;
        font-weight: bold;
    }

    .dropdown-menu.show {
        top: 0;
    }

    .sidebar-nav .dropdown-menu {
        position: relative;
        width: 100%;
        padding: 10px 0 10px 10px;
        margin: 0;
        border-radius: 0;
        border: none;
        background-color: #222;
        box-shadow: none;
    }

    /*Fontawesome icons*/
    .nav.sidebar-nav li a::before {
        /*font-family: fontawesome;*/
        /*content: "\f12e";*/
        vertical-align: baseline;
        display: inline-block;
        padding-right: 5px;
    }


</style>
