<template>
    <div class="errorBox">
        <div class="errorInn">
            <div class="errorImg">
                <img src="@/assets/css/images/icon/icon_error.png" alt="오류">
            </div>
            <dl class="errorText">
                <dt>페이지를 찾을수 없습니다.</dt>
                <dd>메인으로 이동해 주세요.</dd>
            </dl>
            <p class="errorBtn">
                <router-link to="/corpus/main">메인으로 바로가기</router-link>
            </p>
        </div>
    </div>
</template>

<script lang="ts">
    import {Vue}       from 'vue-property-decorator';
    import {Component} from 'vue-property-decorator';

    @Component
    export default class NotFound extends Vue {
    }
</script>
