<template>
    <div id="niceday-app">
        <router-view/>
        <n-validate-toasts></n-validate-toasts>
        <n-message-toasts></n-message-toasts>
        <n-axios-toasts></n-axios-toasts>
        <n-spinner></n-spinner>
    </div>
</template>

<script lang="ts">
    import {Vue}          from 'vue-property-decorator';
    import {Component}    from 'vue-property-decorator';

    @Component({
        name: 'niceday-app',
    })
    export default class NicedayApp extends Vue {
    }
</script>

