<template>
    <b-modal v-model="isVisible"
             id="ProgramSearchModal"
             centered
             size="lg"
             title="프로그램 찾기"
             header-bg-variant="info"
             header-text-variant="light"
             :no-enforce-focus="true"
    >
        <template slot="default">
            <b-container fluid>
                <b-container fluid class="search-box">
                    <b-row>
                        <b-col>
                            <label>프로그램아이디</label>
                            <b-input placeholder="검색어를 입력하세요"></b-input>
                        </b-col>

                        <b-col>
                            <label>프로그램아이디</label>
                            <b-input placeholder="검색어를 입력하세요"></b-input>
                        </b-col>

                        <b-col class="btn">
                            <b-button variant="info">검색</b-button>
                        </b-col>
                    </b-row>
                </b-container>

                <b-row class="list-table">
                    <table>
                        <colgroup>
                            <col width="8%"/>
                            <col width="10%"/>
                            <col width="20%"/>
                            <col />
                        </colgroup>
                        <thead>
                        <tr>
                            <th></th>
                            <th>번호</th>
                            <th>프로그램아이디</th>
                            <th>프로그램명</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><b-radio></b-radio></td>
                            <td>5</td>
                            <td>100</td>
                            <td>쇼미더머니5</td>
                        </tr>
                        <tr>
                            <td><b-radio></b-radio></td>
                            <td>5</td>
                            <td>100</td>
                            <td>쇼미더머니5</td>
                        </tr>
                        <tr>
                            <td><b-radio></b-radio></td>
                            <td>5</td>
                            <td>100</td>
                            <td>쇼미더머니5</td>
                        </tr>
                        </tbody>
                    </table>
                </b-row>

                <b-row>
                    <b-col>
                        <b-pagination align="center" class="mt-2"></b-pagination>
                    </b-col>
                </b-row>

            </b-container>
        </template>
        <template slot="modal-footer" slot-scope="{ ok, hide }">
            <div class="w-100 text-center">
                <n-confirm type="ADD">
                    <b-button variant="dark" @click="add">적용</b-button>
                </n-confirm>
                <b-button variant="secondary" class="ml-3" @click="hide()">닫기</b-button>
            </div>
        </template>
    </b-modal>
</template>

<script lang="ts">
    import {Vue}       from 'vue-property-decorator';
    import {Component} from 'vue-property-decorator';
    import {Watch}     from 'vue-property-decorator';

    @Component
    export default class MailAddModal extends Vue {
        private isVisible: boolean = true;

        private add() {
            this.isVisible = false;
        }

        @Watch('isVisible')
        private setModal(): void {
            if (!this.isVisible) {
                this.$emit('input', null);
            }
        }
    }
</script>
